In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import ast
from datetime import datetime, timedelta
import re
import string
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import pandas as pd
from sklearn.preprocessing import StandardScaler
from yellowbrick.cluster import KElbowVisualizer
from yellowbrick.cluster import intercluster_distance
from sklearn.cluster import MiniBatchKMeans
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

from wordcloud import WordCloud

### (1) Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞

In [2]:
df = pd.read_csv("/Users/jun/GitStudy/Data_4/src/project/project5/tiktok/0130/tiktoker_crawling_df_0127.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1680 non-null   int64
 1   name        1680 non-null   object
 2   follower    1680 non-null   object
 3   view        1680 non-null   object
 4   like        1680 non-null   object
 5   comment     1680 non-null   int64
 6   save        1680 non-null   object
 7   date        1680 non-null   object
 8   info_tag    1664 non-null   object
 9   hash_tag    1680 non-null   object
dtypes: int64(2), object(8)
memory usage: 131.4+ KB

### (2)Ï†ÑÏ≤òÎ¶¨

#### Ï†ÑÏ≤òÎ¶¨_5 : Ïà´ÏûêÌòï, ÎÇ†ÏßúÌòï Ïª¨Îüº
> - view, like, comment, save Ïª¨Îüº : Îã®ÏúÑ(k,m) Î≥ÄÌôò
> - date
    >> - 25ÎÖÑÎèÑ 1Ïõî ÏóÖÎ°úÎìúÌïú Í≤ΩÏö∞ 2025-01-nnÏúºÎ°ú Î≥ÄÌôò 
    >> - nh ago, nd ago, 1w agoÏù∏ Í≤ΩÏö∞ 2025-01-21Í∏∞Ï§ÄÏúºÎ°ú ÎÇ†Ïßú Í≥ÑÏÇ∞

##### 5-1. date Ïª¨Îüº ÌòïÏãù ÌÜµÏùº Î∞è datetimeÏúºÎ°ú Î≥ÄÌôò

In [4]:
def preprocess_date(df):
    today = datetime(2025, 1, 21)

    for i in range(len(df)):
    
        if len(df['date'][i]) >= 8:
            df.loc[i, 'upload_date'] = df['date'][i]
    
        elif len(df['date'][i]) >= 6:
            date = df['date'][i].replace(' ','')
            alphabet_list = [a for a in date]
    
            if 'h' in alphabet_list:
                df.loc[i, 'upload_date'] = today
    
            elif 'd' in alphabet_list:
                day = alphabet_list[0]
                day = int(day)
                df.loc[i, 'upload_date'] = today - timedelta(days=day)
    
            elif 'w' in alphabet_list:
                week = alphabet_list[0]
                week = int(week)
                df.loc[i, 'upload_date'] = today - timedelta(weeks=week)
    
        elif len(df['date'][i]) == 4:
            df.loc[i, 'upload_date'] = '2025-' + df['date'][i]
    
        elif len(df['date'][i]) == 3:
            df.loc[i, 'upload_date'] = '2025-' + df['date'][i]

    # datetimeÌòïÏúºÎ°ú Î≥ÄÌôò
    df['upload_date'] = pd.to_datetime(df['upload_date'], format="%Y-%m-%d", errors='coerce')


preprocess_date(df)

In [5]:
# Í≤∞Í≥º ÌôïÏù∏ 1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1680 non-null   int64
 1   name         1680 non-null   object
 2   follower     1680 non-null   object
 3   view         1680 non-null   object
 4   like         1680 non-null   object
 5   comment      1680 non-null   int64
 6   save         1680 non-null   object
 7   date         1680 non-null   object
 8   info_tag     1664 non-null   object
 9   hash_tag     1680 non-null   object
 10  upload_date  1680 non-null   datetime64[us]
dtypes: datetime64[us](1), int64(2), object(8)
memory usage: 144.5+ KB

#### view, like, comment, saveÏª¨Îüº Îã®ÏúÑ Î≥ÄÌôò

In [6]:
# follower Ïª¨Îüº Îã®ÏúÑ Ï†ÑÏ≤òÎ¶¨

def process_follower(df):
    for i in range(len(df)):
        follower = df['follower'][i].replace(' ','')
        follower_list = [a for a in follower]
        if 'K' in follower_list:
            num = follower.split('K')[0]
            num = float(num)
            follower_cal = num*1000
            df.loc[i, 'follower_cnt'] = follower_cal
        elif 'M' in follower_list:
            num = follower.split('M')[0]
            num = float(num)
            follower_cal = num*1000000
            df.loc[i, 'follower_cnt'] = follower_cal
        else:
            num = df['follower'][i].replace(' ','')
            follower_cal = float(num)
            df.loc[i, 'follower_cnt'] = follower_cal

process_follower(df)

In [7]:
# view Ïª¨Îüº Îã®ÏúÑ Ï†ÑÏ≤òÎ¶¨

def process_view(df):
    for i in range(len(df)):
        view = df['view'][i].replace(' ','')
        view_list = [a for a in view]
        if 'K' in view_list:
            num = view.split('K')[0]
            num = float(num)
            view_cal = num*1000
            df.loc[i, 'view_cnt'] = view_cal
        elif 'M' in view_list:
            num = view.split('M')[0]
            num = float(num)
            view_cal = num*1000000
            df.loc[i, 'view_cnt'] = view_cal
        else:
            num = df['view'][i].replace(' ','')
            view_cal = float(num)
            df.loc[i, 'view_cnt'] = view_cal

process_view(df)

In [8]:
# like Ïª¨Îüº Îã®ÏúÑ Ï†ÑÏ≤òÎ¶¨

def process_like(df):
    for i in range(len(df)):
        like = df['like'][i].replace(' ','')
        like_list = [a for a in like]
        if 'K' in like_list:
            num = like.split('K')[0]
            num = float(num)
            like_cal = num*1000
            df.loc[i, 'like_cnt'] = like_cal
        elif 'M' in like_list:
            num = like.split('M')[0]
            num = float(num)
            like_cal = num*1000000
            df.loc[i, 'like_cnt'] = like_cal
        else:
            num = df['like'][i].replace(' ','')
            like_cal = float(num)
            df.loc[i, 'like_cnt'] = like_cal

process_like(df)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1680 non-null   int64
 1   name          1680 non-null   object
 2   follower      1680 non-null   object
 3   view          1680 non-null   object
 4   like          1680 non-null   object
 5   comment       1680 non-null   int64
 6   save          1680 non-null   object
 7   date          1680 non-null   object
 8   info_tag      1664 non-null   object
 9   hash_tag      1680 non-null   object
 10  upload_date   1680 non-null   datetime64[us]
 11  follower_cnt  1680 non-null   float64
 12  view_cnt      1680 non-null   float64
 13  like_cnt      1680 non-null   float64
dtypes: datetime64[us](1), float64(3), int64(2), object(8)
memory usage: 183.9+ KB

In [10]:
# comment Ïª¨Îüº Îã®ÏúÑ Ï†ÑÏ≤òÎ¶¨

def process_comment(df):
    for i in range(len(df)):
        comment = str(df['comment'][i]).replace(' ','')
        comment_list = [a for a in comment]
        if 'K' in comment_list:
            num = comment.split('K')[0]
            num = float(num)
            comment_cal = num*1000
            df.loc[i, 'comment_cnt'] = comment_cal
        elif 'M' in comment_list:
            num = comment.split('M')[0]
            num = float(num)
            comment_cal = num*1000000
            df.loc[i, 'comment_cnt'] = comment_cal
        else:
            num = str(df['comment'][i]).replace(' ','')
            comment_cal = float(num)
            df.loc[i, 'comment_cnt'] = comment_cal

process_comment(df)

In [11]:
# save Ïª¨Îüº Îã®ÏúÑ Ï†ÑÏ≤òÎ¶¨

def process_save(df):
    for i in range(len(df)):
        save = df['save'][i].replace(' ','')
        save_list = [a for a in save]
        if 'K' in save_list:
            num = save.split('K')[0]
            num = float(num)
            save_cal = num*1000
            df.loc[i, 'save_cnt'] = save_cal
        elif 'M' in save_list:
            num = save.split('M')[0]
            num = float(num)
            save_cal = num*1000000
            df.loc[i, 'save_cnt'] = save_cal
        else:
            num = df['save'][i].replace(' ','')
            save_cal = float(num)
            df.loc[i, 'save_cnt'] = save_cal

process_save(df)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1680 non-null   int64
 1   name          1680 non-null   object
 2   follower      1680 non-null   object
 3   view          1680 non-null   object
 4   like          1680 non-null   object
 5   comment       1680 non-null   int64
 6   save          1680 non-null   object
 7   date          1680 non-null   object
 8   info_tag      1664 non-null   object
 9   hash_tag      1680 non-null   object
 10  upload_date   1680 non-null   datetime64[us]
 11  follower_cnt  1680 non-null   float64
 12  view_cnt      1680 non-null   float64
 13  like_cnt      1680 non-null   float64
 14  comment_cnt   1680 non-null   float64
 15  save_cnt      1680 non-null   float64
dtypes: datetime64[us](1), float64(5), int64(2), object(8)
memory usage: 210.1+ KB

In [13]:
# view_cnt, like_cnt, comment_cnt, save_cntÏª¨Îüº floatÏóêÏÑú intÎ°ú Î≥ÄÌôò

df['view_cnt'] = df['view_cnt'].round(0).astype(int)
df['like_cnt'] = df['like_cnt'].round(0).astype(int)
df['comment_cnt'] = df['comment_cnt'].round(0).astype(int)
df['save_cnt'] = df['save_cnt'].round(0).astype(int)

In [14]:
# Í≤∞Í≥º ÌôïÏù∏ 1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1680 non-null   int64
 1   name          1680 non-null   object
 2   follower      1680 non-null   object
 3   view          1680 non-null   object
 4   like          1680 non-null   object
 5   comment       1680 non-null   int64
 6   save          1680 non-null   object
 7   date          1680 non-null   object
 8   info_tag      1664 non-null   object
 9   hash_tag      1680 non-null   object
 10  upload_date   1680 non-null   datetime64[us]
 11  follower_cnt  1680 non-null   float64
 12  view_cnt      1680 non-null   int64
 13  like_cnt      1680 non-null   int64
 14  comment_cnt   1680 non-null   int64
 15  save_cnt      1680 non-null   int64
dtypes: datetime64[us](1), float64(1), int64(6), object(8)
memory usage: 210.1+ KB

In [15]:
# Í≤∞Í≥º ÌôïÏù∏ 2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1680 non-null   int64
 1   name          1680 non-null   object
 2   follower      1680 non-null   object
 3   view          1680 non-null   object
 4   like          1680 non-null   object
 5   comment       1680 non-null   int64
 6   save          1680 non-null   object
 7   date          1680 non-null   object
 8   info_tag      1664 non-null   object
 9   hash_tag      1680 non-null   object
 10  upload_date   1680 non-null   datetime64[us]
 11  follower_cnt  1680 non-null   float64
 12  view_cnt      1680 non-null   int64
 13  like_cnt      1680 non-null   int64
 14  comment_cnt   1680 non-null   int64
 15  save_cnt      1680 non-null   int64
dtypes: datetime64[us](1), float64(1), int64(6), object(8)
memory usage: 210.1+ KB

In [16]:
df.columns

Index(['Unnamed: 0', 'name', 'follower', 'view', 'like', 'comment', 'save',
       'date', 'info_tag', 'hash_tag', 'upload_date', 'follower_cnt',
       'view_cnt', 'like_cnt', 'comment_cnt', 'save_cnt'],
      dtype='object')

In [17]:
# ÌïÑÏöîÌïú Ïª¨ÎüºÎßå Ï∂îÏ∂ú

df = df[['name', 'follower_cnt', 'upload_date', 'view_cnt', 'like_cnt','comment_cnt', 'save_cnt', 'info_tag']]

In [18]:
df

,name,follower_cnt,upload_date,view_cnt,like_cnt,comment_cnt,save_cnt,info_tag
0,mydelicate,399800.0,2025-01-21,5158,1334,74,175,my favourite blushes and why (with shades)üíì yo...
1,mydelicate,399800.0,2025-01-18,24300,6606,246,917,spend a productive morning with me üíìüéÄ why is i...
2,mydelicate,399800.0,2025-01-15,10400,1881,90,218,for my girlies who still want to look cute whe...
3,mydelicate,399800.0,2025-01-14,22100,4206,193,602,new Flower Knows strawberry cupid collection u...
4,mydelicate,399800.0,2025-01-18,17200,2995,123,432,my favourite products for soft skin üéÄüíì names:\...
...,...,...,...,...,...,...,...,...
1675,amyflamy1,4300000.0,2024-12-14,1400000,131400,640,3686,My hands be too smoll\n#fyp #dance #dancechall...
1676,amyflamy1,4300000.0,2024-12-13,3800000,431000,1654,21100,We single for a reason‚ú®üíÖ\n\n#fyp #dance #dance...
1677,amyflamy1,4300000.0,2024-12-12,6200000,647700,3055,33400,Bibim noodels mukbangüçú\n#mukbang #mukbangeatin...
1678,amyflamy1,4300000.0,2024-12-10,936900,94400,536,3589,Welcome girls you‚Äôre safe here\n#gurwm #gurwmr...
1679,amyflamy1,4300000.0,2024-12-10,1600000,176900,1052,7446,Queen never cry.üíÖsometimes\n#gurwm #gurwmrouti...

### Ï†ÑÏ≤òÎ¶¨_2 : Ìï¥ÏãúÌÉúÍ∑∏ Ïª¨Îüº ÏÉùÏÑ±
> - ÌÅ¨Î°§ÎßÅ Ìïú Îç∞Ïù¥ÌÑ∞Î•º csvÌååÏùºÎ°ú Î≥ÄÌôòÌïòÎäî Í≥ºÏ†ïÏóêÏÑú hash_tagÏª¨ÎüºÏùò ÏùºÎ∂Ä ÌñâÎì§Ïù¥ ÏÜêÏÉÅÎêòÎäî Î¨∏Ï†ú Î∞úÏÉù
> - info Ïª¨ÎüºÏóêÏÑú Ìï¥ÏãúÌÉúÍ∑∏ Ï∂îÏ∂úÌïòÏó¨ Ìï¥ÏãúÌÉúÍ∑∏ Ïª¨Îüº Îã§Ïãú ÏÉùÏÑ±

#### info Ïª¨ÎüºÏóêÏÑú Ìï¥ÏãúÌÉúÍ∑∏ Ï∂îÏ∂ú

In [19]:
def new_hash_tag_process(df):
    for i in range(len(df)):
        info = str(df['info_tag'][i])
        info_split_list = info.split(' ')
        hash_tag_list = []
        for a in info_split_list:
            if a.startswith('#'):
                hash_tag_list.append(a)
            elif a.startswith('@'):
                hash_tag_list.append(a)
            else:
                pass
        df.loc[i, 'hash_tag'] = ','.join(hash_tag_list)

new_hash_tag_process(df)

In [20]:
# Í≤∞Í≥º ÌôïÏù∏
df.head(3)

,name,follower_cnt,upload_date,view_cnt,like_cnt,comment_cnt,save_cnt,info_tag,hash_tag
0,mydelicate,399800.0,2025-01-21,5158,1334,74,175,my favourite blushes and why (with shades)üíì yo...,"@YesStyle,@House,#cbeauty,#koreanmakeup,#skinc..."
1,mydelicate,399800.0,2025-01-18,24300,6606,246,917,spend a productive morning with me üíìüéÄ why is i...,"#kbeauty,#morningroutine,#vlog,#wonyoungism,#s..."
2,mydelicate,399800.0,2025-01-15,10400,1881,90,218,for my girlies who still want to look cute whe...,"@SHEINUS,@SHEIN\nuse,#winterclothes,#coquette,..."

In [21]:
# Í≤∞Í≥º ÌôïÏù∏ 2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          1680 non-null   object
 1   follower_cnt  1680 non-null   float64
 2   upload_date   1680 non-null   datetime64[us]
 3   view_cnt      1680 non-null   int64
 4   like_cnt      1680 non-null   int64
 5   comment_cnt   1680 non-null   int64
 6   save_cnt      1680 non-null   int64
 7   info_tag      1664 non-null   object
 8   hash_tag      1680 non-null   object
dtypes: datetime64[us](1), float64(1), int64(4), object(3)
memory usage: 118.3+ KB

In [ ]:
data_path = ''
os.chdir(data_path)
df.to_csv('tiktoker_final_df_0127.csv',index=False, encoding="utf-8-sig")

In [23]:
df

,name,follower_cnt,upload_date,view_cnt,like_cnt,comment_cnt,save_cnt,info_tag,hash_tag
0,mydelicate,399800.0,2025-01-21,5158,1334,74,175,my favourite blushes and why (with shades)üíì yo...,"@YesStyle,@House,#cbeauty,#koreanmakeup,#skinc..."
1,mydelicate,399800.0,2025-01-18,24300,6606,246,917,spend a productive morning with me üíìüéÄ why is i...,"#kbeauty,#morningroutine,#vlog,#wonyoungism,#s..."
2,mydelicate,399800.0,2025-01-15,10400,1881,90,218,for my girlies who still want to look cute whe...,"@SHEINUS,@SHEIN\nuse,#winterclothes,#coquette,..."
3,mydelicate,399800.0,2025-01-14,22100,4206,193,602,new Flower Knows strawberry cupid collection u...,"#flowerknows,#unboxing,#cbeauty,#chinesemakeup..."
4,mydelicate,399800.0,2025-01-18,17200,2995,123,432,my favourite products for soft skin üéÄüíì names:\...,"@cosmetic_jolse,@YesStyle,@sephora,@Sol,#selfc..."
...,...,...,...,...,...,...,...,...,...
1675,amyflamy1,4300000.0,2024-12-14,1400000,131400,640,3686,My hands be too smoll\n#fyp #dance #dancechall...,"#dance,#dancechallenge"
1676,amyflamy1,4300000.0,2024-12-13,3800000,431000,1654,21100,We single for a reason‚ú®üíÖ\n\n#fyp #dance #dance...,"#dance,#dancechallenge,#dresstoimpress,#fashio..."
1677,amyflamy1,4300000.0,2024-12-12,6200000,647700,3055,33400,Bibim noodels mukbangüçú\n#mukbang #mukbangeatin...,"#mukbangeatingshow,#mukbangvideo,#eating,#eati..."
1678,amyflamy1,4300000.0,2024-12-10,936900,94400,536,3589,Welcome girls you‚Äôre safe here\n#gurwm #gurwmr...,"#gurwmroutine,#grwm,#grwmroutine,#skincarerout..."
1679,amyflamy1,4300000.0,2024-12-10,1600000,176900,1052,7446,Queen never cry.üíÖsometimes\n#gurwm #gurwmrouti...,"#gurwmroutine,#grwm,#grwmroutine,#skincarerout..."

### Ï†ÑÏ≤òÎ¶¨_4 : ÏûêÏó∞Ïñ¥ Ï≤òÎ¶¨

In [24]:
# Îç∞Ïù¥ÌÑ∞ Îã§Ïãú Î∂àÎü¨Ïò§Í∏∞ 
df = pd.read_csv(data_path+'tiktoker_final_df_0127.csv')

In [25]:
df.head(3)

,name,follower_cnt,upload_date,view_cnt,like_cnt,comment_cnt,save_cnt,info_tag,hash_tag
0,mydelicate,399800.0,2025-01-21,5158,1334,74,175,my favourite blushes and why (with shades)üíì yo...,"@YesStyle,@House,#cbeauty,#koreanmakeup,#skinc..."
1,mydelicate,399800.0,2025-01-18,24300,6606,246,917,spend a productive morning with me üíìüéÄ why is i...,"#kbeauty,#morningroutine,#vlog,#wonyoungism,#s..."
2,mydelicate,399800.0,2025-01-15,10400,1881,90,218,for my girlies who still want to look cute whe...,"@SHEINUS,@SHEIN\nuse,#winterclothes,#coquette,..."

In [26]:
# nltk ÏóêÏÑú Punkt tokenizer & stopwords listÎ•º Îã§Ïö¥Î°úÎìú
nltk.download('punkt_tab')
nltk.download('stopwords')

[nltk_data] Downloading package punkt_tab to /Users/jun/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/jun/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

### EDA

Í¥ëÍ≥† Í∞ÄÍ≤© Î∂ÑÎ•ò
ÌèâÍ∑† ÏòÅÏÉÅ Ï°∞Ìöå Ïàò * 2Îßå

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          1680 non-null   object
 1   follower_cnt  1680 non-null   float64
 2   upload_date   1680 non-null   object
 3   view_cnt      1680 non-null   int64
 4   like_cnt      1680 non-null   int64
 5   comment_cnt   1680 non-null   int64
 6   save_cnt      1680 non-null   int64
 7   info_tag      1664 non-null   object
 8   hash_tag      1620 non-null   object
dtypes: float64(1), int64(4), object(4)
memory usage: 118.3+ KB

#### Ïù∏ÌîåÎ£®Ïñ∏ÏÑúÎ≥Ñ ÌèâÍ∑† view, like, comment, save

In [28]:
# ÏÜåÏàòÏ†ê Ïù¥Ìïò 3ÏûêÎ¶¨ÍπåÏßÄ Ï∂úÎ†•ÎêòÎèÑÎ°ù ÏÑ§Ï†ï
pd.options.display.float_format = '{:,.3f}'.format

mean_df = df.groupby('name').agg({'follower_cnt':'mean',
                                    'view_cnt':'mean',
                                    'like_cnt':'mean',
                                    'comment_cnt':'mean',
                                    'save_cnt':'mean'
                                    }).reset_index()

In [29]:
mean_df

,name,follower_cnt,view_cnt,like_cnt,comment_cnt,save_cnt
0,.blissdiaries,"81,700.000","9,717.967","1,447.333",60.467,196.200
1,.m.egan,"238,200.000","178,070.000","23,864.300",182.533,"3,527.300"
2,.woniluv,"135,600.000","41,956.200","2,399.000",85.767,369.933
3,4chriisty,"79,500.000","26,122.500","4,119.733",74.133,385.367
4,__.annie.s,"37,300.000","10,332.733","2,375.100",128.467,465.100
5,_luvwonsnnx,"23,900.000","8,783.467","1,593.633",57.867,261.967
6,aeiezo.pdf,"21,400.000","20,647.133","2,587.733",95.900,350.233
7,ameenbeautytips,"4,800,000.000","418,445.967","1,602.867",14.767,143.100
8,amyflamy1,"4,300,000.000","2,490,070.000","272,720.000","1,466.933","19,117.433"
9,asiamelon,"13,700.000","1,751.233",164.300,12.267,19.767
10,ayheyt3u,"78,900.000","28,749.600","1,745.633",9.000,265.567
11,aylennpark,"1,400,000.000","401,173.333","38,670.167",223.000,"9,051.067"
12,bwnniewony,"232,600.000","69,701.833","14,760.600",665.000,"2,848.500"
13,caspertheghostyy,"442,700.000","130,703.333","9,439.933",50.200,919.300
14,cleangirlhacks,"153,200.000","61,548.333","2,490.667",3.700,696.933
15,cleanlivingkarly,"25,000.000","6,023.667",223.300,15.633,90.067
16,danicolexx,"881,700.000","1,101,633.333","64,087.367",303.533,"10,401.900"
17,dearwonii_,"217,100.000","181,596.667","10,573.100",272.800,"1,435.067"
18,emchu_,"72,700.000","39,188.433","4,089.500",33.500,549.133
19,fromh1ae_,"6,573.000","10,655.733","2,571.867",109.900,459.733
20,gae4hrv,"366,400.000","431,319.233","43,777.500","1,014.333","9,850.867"
21,glowupwithinah,"468,500.000","82,490.500","2,379.133",40.233,565.500
22,haruqhxz,"47,000.000","8,141.167","1,210.167",34.267,242.433
23,heartsfor.kbeauty,"387,400.000","271,766.667","28,936.633",490.000,"3,868.667"
24,its.kaylas,"51,100.000","24,006.933","4,257.867",32.467,874.600
25,itsedonna,"61,400.000","81,914.967","2,118.267",40.567,838.200
26,izzydiaries,"226,200.000","44,541.433","8,707.467",262.733,"1,661.267"
27,jaerini,"41,000.000","153,595.000","10,328.267",25.633,"2,559.933"
28,jasminnlily_,"1,000,000.000","679,816.667","30,959.033",154.733,"3,688.133"
29,jeb_bi,"7,693.000","16,871.533","1,727.167",16.767,157.000
30,koocat,"298,200.000","114,527.467","8,906.733",71.100,"2,033.567"
31,krystallee2222,"65,200.000","392,343.333","35,183.000",120.300,"13,670.833"
32,kwyeona,"29,000.000","18,345.800","3,900.700",317.467,824.533
33,lovelymiri05,"177,100.000","6,429.733","1,359.700",129.000,265.967
34,luvsfor.jennie,"4,121.000","5,844.167","1,114.800",75.400,106.233
35,milkydew,"296,200.000","673,410.000","36,566.800",361.467,"9,962.833"
36,minseonk1m,"173,000.000","285,340.467","20,507.467",61.333,"2,858.000"
37,misscasxie,"8,997.000","53,270.300","9,626.867",109.533,"1,378.333"
38,monakoaa,"1,500,000.000","255,356.667","25,471.367",60.433,"1,429.333"
39,moonskinclub,"216,800.000","325,936.667","20,701.433",55.700,"2,347.267"
40,mydelicate,"399,800.000","44,745.267","7,380.800",198.533,"1,262.633"
41,nana.tan07,"63,300.000","157,372.267","9,054.967",51.600,"1,829.900"
42,ofeemi7,"98,700.000","152,066.000","8,523.067",28.900,"2,160.833"
43,olafflee,"2,400,000.000","266,630.000","38,966.900",242.667,"3,528.567"
44,onlydahia,"149,600.000","55,512.367","8,152.267",86.700,"1,049.000"
45,ooolongmilkteaa,"9,170.000","6,455.667","1,841.733",122.800,376.967
46,ririsglow_,"47,200.000","11,622.067",623.700,11.533,124.500
47,rosiehashs,"55,300.000","8,242.433","1,105.933",54.800,193.733
48,saeroniee,"444,700.000","58,048.267","8,088.433",41.833,725.400
49,soft.milky.latte,"504,500.000","20,980.233","2,630.933",24.000,276.600
50,songofskin,"1,200,000.000","348,381.667","26,675.700",115.767,"3,796.700"
51,thelipstickgirly,"92,900.000","2,518,470.000","104,070.367",319.567,"20,036.767"
52,tracyy_s,"374,000.000","652,990.000","102,344.900",190.600,"5,849.367"
53,vanessafaga,"1,600,000.000","300,796.667","47,646.633",728.400,"5,968.733"
54,velcroluv,"114,500.000","21,289.867","4,664.467",222.233,921.500
55,widyaatharva01,"134,500.000","1,690.833",73.267,0.500,0.667

In [30]:
mean_df.loc[:,'ad_cost'] = mean_df['view_cnt'] * 20000

In [31]:
# erp
mean_df['ER%'] = (mean_df['like_cnt']+mean_df['comment_cnt'])/mean_df['follower_cnt'] * 100

In [32]:
# ÌåîÎ°úÏõå Ïàò Í∏∞Ï§Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú Ïπ¥ÌÖåÍ≥†Î¶¨ Î∂ÑÎ•ò Ìï®Ïàò
def classify_influencer(follower_cnt):
    if follower_cnt < 10_000:
        return "ÎÇòÎÖ∏ Ïù∏ÌîåÎ£®Ïñ∏ÏÑú"
    elif 10_000 <= follower_cnt < 100_000:
        return "ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú"
    elif 500_000 <= follower_cnt < 1_000_000:
        return "Îß§ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú"
    else:
        return "Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú"

# ÏâºÌëú Ï†úÍ±∞ ÌõÑ int Î≥ÄÌôò
mean_df["follower_cnt"] = mean_df["follower_cnt"].replace(",", "", regex=True).astype(float).astype(int)

# Ïπ¥ÌÖåÍ≥†Î¶¨ Ï†ÅÏö©
mean_df["influencer_size"] = mean_df["follower_cnt"].apply(classify_influencer)

# Í≤∞Í≥º ÌôïÏù∏
print(mean_df[["name", "follower_cnt", "influencer_size"]])

                 name  follower_cnt influencer_size
0       .blissdiaries         81700      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
1             .m.egan        238200        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
2            .woniluv        135600        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
3           4chriisty         79500      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
4          __.annie.s         37300      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
5         _luvwonsnnx         23900      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
6          aeiezo.pdf         21400      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
7     ameenbeautytips       4800000        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
8           amyflamy1       4300000        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
9           asiamelon         13700      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
10           ayheyt3u         78900      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
11         aylennpark       1400000        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
12         bwnniewony        232600        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
13   caspertheghostyy        442700        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
14     cleangirlhacks        153200        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
15   cleanlivingkarly         25000      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
16         danicolexx        881700       Îß§ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
17         dearwonii_        217100        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
18             emchu_         72700      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
19          fromh1ae_          6573        ÎÇòÎÖ∏ Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
20            gae4hrv        366400        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
21     glowupwithinah        468500        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
22           haruqhxz         47000      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
23  heartsfor.kbeauty        387400        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
24         its.kaylas         51100      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
25          itsedonna         61400      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
26        izzydiaries        226200        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
27            jaerini         41000      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
28       jasminnlily_       1000000        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
29             jeb_bi          7693        ÎÇòÎÖ∏ Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
30             koocat        298200        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
31     krystallee2222         65200      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
32            kwyeona         29000      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
33       lovelymiri05        177100        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
34     luvsfor.jennie          4121        ÎÇòÎÖ∏ Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
35           milkydew        296200        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
36         minseonk1m        173000        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
37         misscasxie          8997        ÎÇòÎÖ∏ Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
38           monakoaa       1500000        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
39       moonskinclub        216800        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
40         mydelicate        399800        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
41         nana.tan07         63300      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
42            ofeemi7         98700      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
43           olafflee       2400000        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
44          onlydahia        149600        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
45    ooolongmilkteaa          9170        ÎÇòÎÖ∏ Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
46         ririsglow_         47200      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
47         rosiehashs         55300      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
48          saeroniee        444700        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
49   soft.milky.latte        504500       Îß§ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
50         songofskin       1200000        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
51   thelipstickgirly         92900      ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
52           tracyy_s        374000        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
53        vanessafaga       1600000        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
54          velcroluv        114500        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
55     widyaatharva01        134500        Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú

In [33]:
mean_df.head(5)

,name,follower_cnt,view_cnt,like_cnt,comment_cnt,save_cnt,ad_cost,ER%,influencer_size
0,.blissdiaries,81700,"9,717.967","1,447.333",60.467,196.200,"194,359,333.333",1.846,ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
1,.m.egan,238200,"178,070.000","23,864.300",182.533,"3,527.300","3,561,400,000.000",10.095,Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
2,.woniluv,135600,"41,956.200","2,399.000",85.767,369.933,"839,124,000.000",1.832,Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
3,4chriisty,79500,"26,122.500","4,119.733",74.133,385.367,"522,450,000.000",5.275,ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú
4,__.annie.s,37300,"10,332.733","2,375.100",128.467,465.100,"206,654,666.667",6.712,ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú

In [34]:
# ÏóÖÎ°úÎìú ÎπàÎèÑ
df[['name','upload_date']]

            name upload_date
0     mydelicate  2025-01-21
1     mydelicate  2025-01-18
2     mydelicate  2025-01-15
3     mydelicate  2025-01-14
4     mydelicate  2025-01-18
...          ...         ...
1675   amyflamy1  2024-12-14
1676   amyflamy1  2024-12-13
1677   amyflamy1  2024-12-12
1678   amyflamy1  2024-12-10
1679   amyflamy1  2024-12-10

[1680 rows x 2 columns]

In [35]:
import pandas as pd
import numpy as np
import re
from datetime import datetime, timedelta

# ‚úÖ ÌòÑÏû¨ ÎÇ†Ïßú Í∏∞Ï§Ä
TODAY = datetime(2025, 1, 27)  # ÌòÑÏû¨ ÎÇ†Ïßú ÏÑ§Ï†ï

df['upload_date'] = pd.to_datetime(df['upload_date'])  # ÎÇ†ÏßúÌòïÏúºÎ°ú Î≥ÄÌôò

# ‚úÖ name Î≥ÑÎ°ú ÏóÖÎ°úÎìú Í∞ÑÍ≤© Í≥ÑÏÇ∞
tiktoker_df = df.sort_values(by=["name", "upload_date"])  # Ïù¥Î¶Ñ + ÎÇ†ÏßúÏàú Ï†ïÎ†¨
tiktoker_df["prev_date"] = tiktoker_df.groupby("name")["upload_date"].shift(1)  # Ïù¥Ï†Ñ ÏòÅÏÉÅ ÎÇ†Ïßú
tiktoker_df["upload_gap"] = (tiktoker_df["upload_date"] - tiktoker_df["prev_date"]).dt.days  # Í∞ÑÍ≤©(Ïùº)

# ‚úÖ ÌèâÍ∑† ÏóÖÎ°úÎìú Ï£ºÍ∏∞ Í≥ÑÏÇ∞
upload_cycle = tiktoker_df.groupby("name")["upload_gap"].mean().reset_index()
upload_cycle.rename(columns={"upload_gap": "avg_upload_interval"}, inplace=True)

# ‚úÖ Í≤∞Í≥º Ï∂úÎ†•
print(upload_cycle)

                 name  avg_upload_interval
0       .blissdiaries                4.069
1             .m.egan                5.034
2            .woniluv                2.379
3           4chriisty                2.483
4          __.annie.s                3.138
5         _luvwonsnnx                1.483
6          aeiezo.pdf                3.483
7     ameenbeautytips                0.172
8           amyflamy1                1.448
9           asiamelon                3.345
10           ayheyt3u                5.759
11         aylennpark                1.621
12         bwnniewony                1.931
13   caspertheghostyy                0.828
14     cleangirlhacks                3.034
15   cleanlivingkarly                0.552
16         danicolexx                0.310
17         dearwonii_                2.655
18             emchu_                3.414
19          fromh1ae_                2.207
20            gae4hrv                3.586
21     glowupwithinah                0.241
22           haruqhxz                5.621
23  heartsfor.kbeauty                2.586
24         its.kaylas                1.310
25          itsedonna                1.310
26        izzydiaries                3.379
27            jaerini                9.138
28       jasminnlily_                2.241
29             jeb_bi                1.862
30             koocat                1.724
31     krystallee2222                2.241
32            kwyeona                2.310
33       lovelymiri05                0.621
34     luvsfor.jennie                1.207
35           milkydew                0.517
36         minseonk1m                0.828
37         misscasxie                4.483
38           monakoaa                1.138
39       moonskinclub                1.034
40         mydelicate                1.103
41         nana.tan07                7.276
42            ofeemi7                1.345
43           olafflee                2.241
44          onlydahia                2.345
45    ooolongmilkteaa                1.931
46         ririsglow_                2.345
47         rosiehashs                0.862
48          saeroniee                1.448
49   soft.milky.latte                4.966
50         songofskin                0.414
51   thelipstickgirly                2.759
52           tracyy_s                3.655
53        vanessafaga                1.310
54          velcroluv                0.897
55     widyaatharva01               25.310

In [36]:
upload_cycle

                 name  avg_upload_interval
0       .blissdiaries                4.069
1             .m.egan                5.034
2            .woniluv                2.379
3           4chriisty                2.483
4          __.annie.s                3.138
5         _luvwonsnnx                1.483
6          aeiezo.pdf                3.483
7     ameenbeautytips                0.172
8           amyflamy1                1.448
9           asiamelon                3.345
10           ayheyt3u                5.759
11         aylennpark                1.621
12         bwnniewony                1.931
13   caspertheghostyy                0.828
14     cleangirlhacks                3.034
15   cleanlivingkarly                0.552
16         danicolexx                0.310
17         dearwonii_                2.655
18             emchu_                3.414
19          fromh1ae_                2.207
20            gae4hrv                3.586
21     glowupwithinah                0.241
22           haruqhxz                5.621
23  heartsfor.kbeauty                2.586
24         its.kaylas                1.310
25          itsedonna                1.310
26        izzydiaries                3.379
27            jaerini                9.138
28       jasminnlily_                2.241
29             jeb_bi                1.862
30             koocat                1.724
31     krystallee2222                2.241
32            kwyeona                2.310
33       lovelymiri05                0.621
34     luvsfor.jennie                1.207
35           milkydew                0.517
36         minseonk1m                0.828
37         misscasxie                4.483
38           monakoaa                1.138
39       moonskinclub                1.034
40         mydelicate                1.103
41         nana.tan07                7.276
42            ofeemi7                1.345
43           olafflee                2.241
44          onlydahia                2.345
45    ooolongmilkteaa                1.931
46         ririsglow_                2.345
47         rosiehashs                0.862
48          saeroniee                1.448
49   soft.milky.latte                4.966
50         songofskin                0.414
51   thelipstickgirly                2.759
52           tracyy_s                3.655
53        vanessafaga                1.310
54          velcroluv                0.897
55     widyaatharva01               25.310

In [37]:
mean_df['avg_upload_interval'] = upload_cycle['avg_upload_interval']
mean_df.head(4)

,name,follower_cnt,view_cnt,like_cnt,comment_cnt,save_cnt,ad_cost,ER%,influencer_size,avg_upload_interval
0,.blissdiaries,81700,"9,717.967","1,447.333",60.467,196.200,"194,359,333.333",1.846,ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,4.069
1,.m.egan,238200,"178,070.000","23,864.300",182.533,"3,527.300","3,561,400,000.000",10.095,Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,5.034
2,.woniluv,135600,"41,956.200","2,399.000",85.767,369.933,"839,124,000.000",1.832,Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,2.379
3,4chriisty,79500,"26,122.500","4,119.733",74.133,385.367,"522,450,000.000",5.275,ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,2.483

In [38]:
#top5_hash_tag_df = pd.read_csv('/Users/jun/GitStudy/Data_4/src/project/project5/tiktok/0130/tiktoker_top5_hashtags.csv')
# Ïù¥Í±∞ ÎåÄÏã† ÌÜ†ÌîΩÎ™®Îç∏ÎßÅÏúºÎ°ú ÎßåÎì† ÌÉúÍ∑∏ ÏÇ¨Ïö©

In [39]:
#/Users/jun/GitStudy/Data_4/src/project/project5/tiktok/0130/tiktoker_lableing.ipynb ÏóêÏÑú Ïò¥
top3_tag_df = pd.read_csv('tiktoker_top3_modeled_topic.csv')
top3_tag_df.head(3)

,name,color_tf,skincare_tf,hair_body_tf,fashiion_tf,unboxing_tf,skin_routine_tf,trend_tf,asmr,eating_tf,others_tf,no.1,no.2,no.3
0,.blissdiaries,18,17,1,29,17,5,3,8,1,0,fashiion_tf,color_tf,skincare_tf
1,.m.egan,5,13,1,3,4,5,0,2,2,5,skincare_tf,color_tf,skin_routine_tf
2,.woniluv,6,9,2,3,4,9,7,7,1,4,skincare_tf,skin_routine_tf,trend_tf

In [51]:
top3_tag_df['no.1'].value_counts()

no.1
skincare_tf        35
asmr                8
fashiion_tf         3
others_tf           3
color_tf            2
trend_tf            2
hair_body_tf        1
eating_tf           1
skin_routine_tf     1
Name: count, dtype: int64

In [40]:
tags_df = top3_tag_df[['name','no.1','no.2','no.3']]
tags_df.head(3)

            name         no.1             no.2             no.3
0  .blissdiaries  fashiion_tf         color_tf      skincare_tf
1        .m.egan  skincare_tf         color_tf  skin_routine_tf
2       .woniluv  skincare_tf  skin_routine_tf         trend_tf

In [41]:
mean_df = mean_df.merge(tags_df, on='name', how='left')
mean_df.head(3)

,name,follower_cnt,view_cnt,like_cnt,comment_cnt,save_cnt,ad_cost,ER%,influencer_size,avg_upload_interval,no.1,no.2,no.3
0,.blissdiaries,81700,"9,717.967","1,447.333",60.467,196.200,"194,359,333.333",1.846,ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,4.069,fashiion_tf,color_tf,skincare_tf
1,.m.egan,238200,"178,070.000","23,864.300",182.533,"3,527.300","3,561,400,000.000",10.095,Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,5.034,skincare_tf,color_tf,skin_routine_tf
2,.woniluv,135600,"41,956.200","2,399.000",85.767,369.933,"839,124,000.000",1.832,Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,2.379,skincare_tf,skin_routine_tf,trend_tf

In [42]:
# ÏâºÌëú Ï†úÍ±∞ Î∞è Ïà´ÏûêÎ°ú Î≥ÄÌôò
cols_to_int = ["follower_cnt", "view_cnt", "like_cnt", "comment_cnt", "save_cnt", "ad_cost"]
cols_to_float = ["ER%", "avg_upload_interval"]

# intÎ°ú Î≥ÄÌôòÌï† Ïª¨Îüº
mean_df[cols_to_int] = mean_df[cols_to_int].replace(",", "", regex=True).astype(float).round(0).astype(int)

# float (ÏÜåÏàò ÎëòÏß∏ ÏûêÎ¶¨ÍπåÏßÄ)Î°ú Î≥ÄÌôòÌï† Ïª¨Îüº
mean_df[cols_to_float] = mean_df[cols_to_float].replace(",", "", regex=True).astype(float).round(2)
mean_df.head(3)

,name,follower_cnt,view_cnt,like_cnt,comment_cnt,save_cnt,ad_cost,ER%,influencer_size,avg_upload_interval,no.1,no.2,no.3
0,.blissdiaries,81700,9718,1447,60,196,194359333,1.850,ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,4.070,fashiion_tf,color_tf,skincare_tf
1,.m.egan,238200,178070,23864,183,3527,3561400000,10.100,Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,5.030,skincare_tf,color_tf,skin_routine_tf
2,.woniluv,135600,41956,2399,86,370,839124000,1.830,Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,2.380,skincare_tf,skin_routine_tf,trend_tf

In [43]:
os.getcwd()

'/Users/jun/GitStudy/Data_4/src/project/project5/tiktok/recommend/data'

In [44]:
mean_df.to_csv('merged_mean_0207.csv',index=False, encoding="utf-8")

In [45]:
mean_df.head(5)

,name,follower_cnt,view_cnt,like_cnt,comment_cnt,save_cnt,ad_cost,ER%,influencer_size,avg_upload_interval,no.1,no.2,no.3
0,.blissdiaries,81700,9718,1447,60,196,194359333,1.850,ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,4.070,fashiion_tf,color_tf,skincare_tf
1,.m.egan,238200,178070,23864,183,3527,3561400000,10.100,Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,5.030,skincare_tf,color_tf,skin_routine_tf
2,.woniluv,135600,41956,2399,86,370,839124000,1.830,Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,2.380,skincare_tf,skin_routine_tf,trend_tf
3,4chriisty,79500,26122,4120,74,385,522450000,5.280,ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,2.480,fashiion_tf,color_tf,skincare_tf
4,__.annie.s,37300,10333,2375,128,465,206654667,6.710,ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,3.140,skincare_tf,asmr,fashiion_tf

In [46]:
mean_df[mean_df['name'].isin(["krystallee2222",'emchu_','velcroluv'])]

,name,follower_cnt,view_cnt,like_cnt,comment_cnt,save_cnt,ad_cost,ER%,influencer_size,avg_upload_interval,no.1,no.2,no.3
18,emchu_,72700,39188,4090,34,549,783768667,5.670,ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,3.410,fashiion_tf,skincare_tf,skin_routine_tf
31,krystallee2222,65200,392343,35183,120,13671,7846866667,54.150,ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,2.240,skincare_tf,skin_routine_tf,color_tf
54,velcroluv,114500,21290,4664,222,922,425797333,4.270,Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,0.900,skincare_tf,skin_routine_tf,asmr

In [47]:
#ÏñºÍµ¥ ÎëêÎ∂Ñ Îã§ ÎÇòÏò§Í≥† 

#krystallee2222 ER ÎÜíÍ≥† > ÌîºÎ∂ÄÍ∞Ä Ï¢ãÏïÑÏÑú Ïã†ÎπôÏÑ± ÏûàÏùå... 
#emchu_ Ïª®ÏÖâ

ver.1

In [48]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Ïù∏ÌîåÎ£®Ïñ∏ÏÑú Îç∞Ïù¥ÌÑ∞ Î°úÎìú (ÏòàÏ†ú)
final_df1 = mean_df.copy()

# ÏΩòÌÖêÏ∏† Ïª¨Îüº Í∞ÄÏ§ëÏπò Î∞òÏòÅÌïòÏó¨ Ìï©ÏπòÍ∏∞
final_df1['content_features'] = final_df1.apply(lambda x: 
    (x['no.1'] + ' ') * 3 + (x['no.2'] + ' ') * 2 + x['no.3'], axis=1)

# TF-IDF Î≥ÄÌôò
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(final_df1['content_features'])

# Í∏∞Ï°¥ ÏÑ†ÌÉùÌïú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú Í∏∞Ï§Ä Ïú†ÏÇ¨ÎèÑ Ï∏°Ï†ï
selected_influencers = ["krystallee2222", "emchu_"]
selected_indices = final_df1[final_df1['name'].isin(selected_influencers)].index
similarity_scores = cosine_similarity(tfidf_matrix, tfidf_matrix[selected_indices])

# ÌèâÍ∑† Ïú†ÏÇ¨ÎèÑ Ï†êÏàò Í≥ÑÏÇ∞ ÌõÑ Ï†ïÎ†¨
final_df1["content_similarity"] = similarity_scores.mean(axis=1)
df_sorted = final_df1.sort_values(by="content_similarity", ascending=False)

# ÏµúÏ¢Ö Ï∂îÏ≤ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú Î¶¨Ïä§Ìä∏
top_n = 10  # ÏõêÌïòÎäî Ï∂îÏ≤ú Í∞úÏàò
recommended_influencers = df_sorted.loc[~df_sorted['name'].isin(selected_influencers)].head(top_n)
print(recommended_influencers[["name", "content_similarity"]])

                name  content_similarity
14    cleangirlhacks               0.748
24        its.kaylas               0.666
13  caspertheghostyy               0.666
34    luvsfor.jennie               0.618
54         velcroluv               0.591
37        misscasxie               0.591
29            jeb_bi               0.591
40        mydelicate               0.582
9          asiamelon               0.582
55    widyaatharva01               0.573

ver.2

üîπ 1. ER%Î•º Í∞ÄÏ§ëÏπòÎ°ú ÌôúÏö© (ER% ÎÜíÏùÄ Ïù∏ÌîåÎ£®Ïñ∏ÏÑú ÏÑ†Ìò∏)
no.1, no.2, no.3Ïùò Í∞ÄÏ§ëÏπòÎ•º ER%Ïóê ÎπÑÎ°ÄÌïòÎèÑÎ°ù ÏÑ§Ï†ï
ER%Í∞Ä ÎÜíÏùÄ Ïù∏ÌîåÎ£®Ïñ∏ÏÑúÏùò ÏΩòÌÖêÏ∏† ÌÇ§ÏõåÎìúÏóê Îçî ÎÜíÏùÄ Ï†êÏàòÎ•º Î∂ÄÏó¨


ER%Í∞Ä ÎÜíÏùÑÏàòÎ°ù ÏΩòÌÖêÏ∏† ÌÇ§ÏõåÎìúÍ∞Ä TF-IDFÏóê Îçî ÌÅ∞ ÏòÅÌñ•ÏùÑ Ï£ºÎèÑÎ°ù Ï°∞Ï†ï
ÏòàÎ•º Îì§Ïñ¥, ER%Í∞Ä **10.1%**Ïù∏ Ïù∏ÌîåÎ£®Ïñ∏ÏÑúÎùºÎ©¥ no.1 ÌÇ§ÏõåÎìúÎäî 30.3Î∞∞ Î∞òÏòÅ
ER%Í∞Ä **1.8%**Ïù∏ Ïù∏ÌîåÎ£®Ïñ∏ÏÑúÎäî no.1Ïù¥ 5.4Î∞∞ Î∞òÏòÅÎê® ‚Üí ÏûêÏó∞Ïä§ÎüΩÍ≤å ER% ÎÜíÏùÄ Ïù∏ÌîåÎ£®Ïñ∏ÏÑúÍ∞Ä Í∞ïÏ°∞Îê®


ER%Ïùò Í∞íÏù¥ ÎÑàÎ¨¥ ÌÅ∞ Í≤ΩÏö∞(Ïòà: 1.8% vs. 10.1%) Í∞ÄÏ§ëÏπò Ï∞®Ïù¥Í∞Ä Ïã¨Ìï¥Ïßà Ïàò ÏûàÏúºÎØÄÎ°ú Min-Max ScalingÏùÑ Ï†ÅÏö©ÌïòÏó¨ 0~1 Î≤îÏúÑÎ°ú Ï†ïÍ∑úÌôîÌïòÎäî Î∞©Î≤ïÎèÑ ÏûàÏùå.

In [49]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

final_df2 = mean_df.copy()

scaler = MinMaxScaler()
final_df2['normalized_ER'] = scaler.fit_transform(final_df2[['ER%']])

# ÏΩòÌÖêÏ∏† Ïª¨Îüº Í∞ÄÏ§ëÏπò Î∞òÏòÅÌïòÏó¨ Ìï©ÏπòÍ∏∞
final_df2['content_features'] = final_df2.apply(lambda x: 
    (x['no.1'] + ' ') * 3 + (x['no.2'] + ' ') * 2 + x['no.3'], axis=1)

# TF-IDF Î≥ÄÌôò
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(final_df2['content_features'])

# Í∏∞Ï°¥ ÏÑ†ÌÉùÌïú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú Í∏∞Ï§Ä Ïú†ÏÇ¨ÎèÑ Ï∏°Ï†ï
selected_influencers = ["krystallee2222", "emchu_"]
selected_indices = final_df2[final_df2['name'].isin(selected_influencers)].index
similarity_scores = cosine_similarity(tfidf_matrix, tfidf_matrix[selected_indices])

# ÌèâÍ∑† Ïú†ÏÇ¨ÎèÑ Ï†êÏàò Í≥ÑÏÇ∞ ÌõÑ Ï†ïÎ†¨
final_df2["content_similarity"] = similarity_scores.mean(axis=1)
df_sorted = final_df2.sort_values(by="content_similarity", ascending=False)

# ÏµúÏ¢Ö Ï∂îÏ≤ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú Î¶¨Ïä§Ìä∏
top_n = 10  # ÏõêÌïòÎäî Ï∂îÏ≤ú Í∞úÏàò
recommended_influencers = df_sorted.loc[~df_sorted['name'].isin(selected_influencers)].head(top_n)
print(recommended_influencers[["name", "content_similarity"]])


final_df2['content_features'] = final_df2.apply(lambda x: 
    (x['no.1'] + ' ') * int(round(x['normalized_ER'] * 3, 0)) + 
    (x['no.2'] + ' ') * int(round(x['normalized_ER'] * 2, 0)) + 
    (x['no.3'] + ' ') * int(round(x['normalized_ER'], 0)),
    axis=1)

                name  content_similarity
14    cleangirlhacks               0.748
24        its.kaylas               0.666
13  caspertheghostyy               0.666
34    luvsfor.jennie               0.618
54         velcroluv               0.591
37        misscasxie               0.591
29            jeb_bi               0.591
40        mydelicate               0.582
9          asiamelon               0.582
55    widyaatharva01               0.573

# ÏΩòÌÖêÏ∏† Í∏∞Î∞ò ÌïÑÌÑ∞ÎßÅ Ï∂îÏ≤ú (Content based filtering)

ver.3

In [ ]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

final_df3 = mean_df.copy()

scaler = MinMaxScaler()
final_df3['normalized_ER'] = scaler.fit_transform(final_df3[['ER%']])

# ÏΩòÌÖêÏ∏† Ïª¨Îüº Í∞ÄÏ§ëÏπò Î∞òÏòÅÌïòÏó¨ Ìï©ÏπòÍ∏∞
final_df3['content_features'] = final_df3.apply(lambda x: 
    (x['no.1'] + ' ') * 3 + (x['no.2'] + ' ') * 2 + x['no.3'], axis=1)

NameError: name 'mean_df' is not defined

 Î≤°ÌÑ∞Ìôî(TF-IDF Î≥ÄÌôò)ÎûÄ? Ïôú ÌïòÎäîÍ∞Ä?
TfidfVectorizer()Î•º ÏÇ¨Ïö©ÌïòÎäî **Î≤°ÌÑ∞Ìôî(vectorization)**Îäî ÌÖçÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î•º ÏàòÏπò Îç∞Ïù¥ÌÑ∞Î°ú Î≥ÄÌôòÌïòÎäî Í≥ºÏ†ïÏûÖÎãàÎã§.
Neo4jÏ≤òÎüº Í∑∏ÎûòÌîÑ Íµ¨Ï°∞Î•º Ïì∞Îäî Í≤ÉÏù¥ ÏïÑÎãàÎùº Î®∏Ïã†Îü¨Îãù Î™®Îç∏ÏùÑ ÌôúÏö©ÌïòÎ†§Î©¥, ÌÖçÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î•º Í∑∏ÎåÄÎ°ú ÏÇ¨Ïö©Ìï† Ïàò ÏóÜÍ∏∞ ÎïåÎ¨∏Ïóê Ïà´ÏûêÎ°ú Î≥ÄÌôòÌï¥Ïïº Ìï©ÎãàÎã§.

‚úÖ TF-IDF (Term Frequency-Inverse Document Frequency) Î≤°ÌÑ∞Ìôî

Îã®Ïñ¥Ïùò Ï§ëÏöîÎèÑÎ•º Î∞òÏòÅÌïòÏó¨ ÏàòÏπòÎ°ú Î≥ÄÌôòÌïòÎäî Î∞©Ïãù
Îã®ÏàúÌïú Îã®Ïñ¥ Îì±Ïû• ÌöüÏàò(count) Í∏∞Î∞ò Î≤°ÌÑ∞ÌôîÎ≥¥Îã§ Ï§ëÎ≥µ Îã®Ïñ¥Î•º Î≥¥Ï†ïÌïòÏó¨ ÏùòÎØ∏ ÏûàÎäî ÌäπÏßïÏùÑ Ï∂îÏ∂ú
üí° Ïôú TF-IDFÎ•º ÏÇ¨Ïö©Ìï†Íπå?

Îã®ÏàúÌïú **Îã®Ïñ¥ ÎπàÎèÑÏàò(CountVectorizer)**Î≥¥Îã§ ÏùòÎØ∏ ÏûàÎäî Ï†ïÎ≥¥ Ï∂îÏ∂ú Í∞ÄÎä•
ÏûêÏ£º Îì±Ïû•ÌïòÏßÄÎßå Ï§ëÏöîÌïòÏßÄ ÏïäÏùÄ Îã®Ïñ¥(Ïòà: "the", "is")Î•º ÏûêÎèôÏúºÎ°ú ÎÇÆÏùÄ Í∞ÄÏ§ëÏπòÎ°ú Ï°∞Ï†ï
Í∞ÄÏ§ëÏπòÎ•º Î∂ÄÏó¨ÌïòÏó¨ Ïù∏ÌîåÎ£®Ïñ∏ÏÑúÏùò ÏΩòÌÖêÏ∏† ÌäπÏÑ±ÏùÑ Îçî Ïûò Î∞òÏòÅ

In [2]:
# TF-IDF Î≥ÄÌôò
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(final_df3['content_features'])

NameError: name 'final_df3' is not defined

Î∞òÏòÅ
üîπ Ïú†ÏÇ¨ÎèÑ Ï∏°Ï†ï Î∞©ÏãùÍ≥º ÏΩîÏÇ¨Ïù∏ Ïú†ÏÇ¨ÎèÑ ÏÇ¨Ïö© Ïù¥Ïú†
‚úÖ Îã§ÏñëÌïú Ïú†ÏÇ¨ÎèÑ Ï∏°Ï†ï Î∞©Ïãù

ÏΩîÏÇ¨Ïù∏ Ïú†ÏÇ¨ÎèÑ (Cosine Similarity)

Îëê Î≤°ÌÑ∞Í∞Ä Ïù¥Î£®Îäî Í∞ÅÎèÑÏùò ÏΩîÏÇ¨Ïù∏ Í∞íÏùÑ Ïù¥Ïö©Ìï¥ Ïú†ÏÇ¨ÎèÑÎ•º Ï∏°Ï†ï
Í∞í Î≤îÏúÑ: [-1, 1] (1Ïóê Í∞ÄÍπåÏö∏ÏàòÎ°ù Ïú†ÏÇ¨, -1Ïù¥Î©¥ Ï†ïÎ∞òÎåÄ)
ÌÖçÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Ï≤òÎüº Í∏∏Ïù¥Í∞Ä Îã§Î•º Ïàò ÏûàÎäî Í≤ΩÏö∞ÏóêÎèÑ Ï†ÅÏ†àÌïú Ïú†ÏÇ¨ÎèÑ Ï∏°Ï†ï Í∞ÄÎä•
Ïú†ÌÅ¥Î¶¨Îìú Í±∞Î¶¨ (Euclidean Distance)

Îëê Î≤°ÌÑ∞ Í∞ÑÏùò ÏßÅÏÑ† Í±∞Î¶¨
ÌÖçÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Ï≤òÎüº Í∏∏Ïù¥ Ï∞®Ïù¥Í∞Ä Ï§ëÏöîÌïú Í≤ΩÏö∞ÏóêÎäî Î∂ÄÏ†ÅÏ†à
ÏûêÏπ¥Îìú Ïú†ÏÇ¨ÎèÑ (Jaccard Similarity)

Îëê Î¨∏ÏÑúÏóêÏÑú Í≥µÌÜµÏúºÎ°ú Îì±Ïû•ÌïòÎäî Îã®Ïñ¥Ïùò ÎπÑÏú®ÏùÑ Ïù¥Ïö©Ìï¥ Ïú†ÏÇ¨ÎèÑ Ï∏°Ï†ï
Îã®Ïñ¥ ÏàúÏÑú Ï†ïÎ≥¥Í∞Ä Î∞òÏòÅÎêòÏßÄ ÏïäÏùå
Ï†êÏßÑÏ†Å Ïú†ÏÇ¨ÎèÑ (Dot Product Similarity)

Îã®ÏàúÌïú ÎÇ¥Ï†Å(dot product) Î∞©Ïãù
Î≤°ÌÑ∞ ÌÅ¨Í∏∞Ïóê Îî∞Îùº Í≤∞Í≥ºÍ∞Ä ÏòÅÌñ•ÏùÑ Î∞õÍ∏∞ ÎïåÎ¨∏Ïóê Ï†ïÍ∑úÌôîÎêòÏßÄ ÏïäÏùÄ Îç∞Ïù¥ÌÑ∞ÏóêÏÑúÎäî Î∂ÄÏ†ÅÏ†à
üí° Ïôú ÏΩîÏÇ¨Ïù∏ Ïú†ÏÇ¨ÎèÑÎ•º ÏÑ†ÌÉùÌñàÏùÑÍπå?

ÌÖçÏä§Ìä∏ Î≤°ÌÑ∞Ìôî Í≤∞Í≥ºÎäî Í≥†Ï∞®Ïõê Ìù¨ÏÜå Î≤°ÌÑ∞ ÌòïÌÉúÍ∞Ä Îê®
Î¨∏ÏÑú Í∞Ñ Í∏∏Ïù¥(Îã®Ïñ¥ Í∞úÏàò) Ï∞®Ïù¥Í∞Ä ÌÅ¨ÎçîÎùºÎèÑ ÎπÑÍµêÌï† Ïàò ÏûàÎèÑÎ°ù Ï†ïÍ∑úÌôîÎêú Î∞©ÏãùÏù¥ ÌïÑÏöî
ÏΩîÏÇ¨Ïù∏ Ïú†ÏÇ¨ÎèÑÎäî Î≤°ÌÑ∞Ïùò Î∞©Ìñ•(ÌäπÏßï Ï∞®Ïù¥)Îßå ÎπÑÍµêÌïòÍ≥†, ÌÅ¨Í∏∞Îäî Î¨¥ÏãúÌïòÍ∏∞ ÎïåÎ¨∏Ïóê Ï†ÅÏ†à
Ï¶â, TF-IDF Î≥ÄÌôòÎêú ÏΩòÌÖêÏ∏† Î≤°ÌÑ∞Îì§Ïùò ÏùòÎØ∏Ï†Å Ïú†ÏÇ¨ÎèÑÎ•º ÎπÑÍµêÌïòÎ†§Î©¥ ÏΩîÏÇ¨Ïù∏ Ïú†ÏÇ¨ÎèÑÍ∞Ä Í∞ÄÏû• Ï†ÅÌï©Ìïú ÏÑ†ÌÉùÏûÖÎãàÎã§.

In [ ]:
# Í∏∞Ï°¥ ÏÑ†ÌÉùÌïú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú Í∏∞Ï§Ä Ïú†ÏÇ¨ÎèÑ Ï∏°Ï†ï
selected_influencers = ["krystallee2222", "emchu_"]
selected_indices = final_df3[final_df3['name'].isin(selected_influencers)].index
similarity_scores = cosine_similarity(tfidf_matrix, tfidf_matrix[selected_indices])

# ÌèâÍ∑† Ïú†ÏÇ¨ÎèÑ Ï†êÏàò Í≥ÑÏÇ∞ ÌõÑ Ï†ïÎ†¨
final_df3["content_similarity"] = similarity_scores.mean(axis=1)
df_sorted = final_df3.sort_values(by="content_similarity", ascending=False)
df_sorted

In [ ]:
# ÏµúÏ¢Ö Ï∂îÏ≤ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú Î¶¨Ïä§Ìä∏
top_n = 10  # ÏõêÌïòÎäî Ï∂îÏ≤ú Í∞úÏàò
recommended_influencers = df_sorted.loc[~df_sorted['name'].isin(selected_influencers)].head(top_n)
print(recommended_influencers[["name", "content_similarity"]])

# ER%Í∞Ä ÎÑàÎ¨¥ ÎÇÆÏúºÎ©¥ Í∞ÄÏ§ëÏπò Í∞íÏù¥ 0Ïù¥ ÎêòÏñ¥ ÏΩòÌÖêÏ∏† ÌÇ§ÏõåÎìúÍ∞Ä ÏÇ≠Ï†úÎê† ÏúÑÌóò ÏûàÏùå
# Ïù¥Î•º Î∞©ÏßÄÌïòÎ†§Î©¥ ÏµúÏÜå 1Î≤àÏùÄ Î∞òÏòÅÎêòÎèÑÎ°ù max(1, int(...)) Ï†ÅÏö©
final_df3['content_features'] = final_df3.apply(lambda x: 
    (x['no.1'] + ' ') * max(1, int(round(x['normalized_ER'] * 3, 0))) + 
    (x['no.2'] + ' ') * max(1, int(round(x['normalized_ER'] * 2, 0))) + 
    (x['no.3'] + ' ') * max(1, int(round(x['normalized_ER'], 0))),
    axis=1)


#(Ï¥ù ÏòàÏÉÅ Ìà¨Ïûê ÏàòÏùµ ‚Äì Ìà¨Ïûê ÎπÑÏö©) / Ìà¨Ïûê ÎπÑÏö© x 100 = ROI%
#ÏòàÎ•º Îì§Ïñ¥, Ïù∏ÌîåÎ£®Ïñ∏ÏÑú ÎßàÏºÄÌåÖ Ï∫†ÌéòÏù∏Ïóê $2,000ÏùÑ Ìà¨ÏûêÌïòÍ≥† $9,000Ïùò Í∞ÄÏπòÎ•º ÏñªÏùÑ Í≤ÉÏúºÎ°ú ÏòàÏÉÅÌïúÎã§Î©¥, ROIÎäî 350%ÏûÖÎãàÎã§.

#Ìã±ÌÜ°Ïª§Ïùò Í≥ºÍ±∞ ROI Í∞Ä ÏûàÎã§Î©¥ Í∑∏Ïóê Îî∞Î•∏ Í∞ÄÏ§ëÏπò ÌöåÍ∑ÄÎ∂ÑÏÑùÍ≥º Í∑∏Ïóê Îî∞Î•∏ ÏòàÏ∏°Ïù¥ Í∞ÄÎä•ÌïòÏßÄ ÏïäÏùÑÍπå???

 Ï∂îÏ≤ú Ï†ëÍ∑ºÎ≤ï:

Ï¢ÖÏÜç Î≥ÄÏàò(y): Í¥ëÍ≥† ÏÑ±Í≥ºÎ•º ÎÇòÌÉÄÎÇ¥Îäî ÏßÄÌëú (Ïòà: sales, conversion_rate, ROI Îì±)
ÎèÖÎ¶Ω Î≥ÄÏàò(X): Í¥ëÍ≥† ÏÑ±Í≥ºÏóê ÏòÅÌñ•ÏùÑ Ï§Ñ Í∞ÄÎä•ÏÑ±Ïù¥ ÎÜíÏùÄ ÏßÄÌëú
ÌöåÍ∑Ä Î™®Îç∏ÏùÑ ÌïôÏäµÌïòÏó¨ Í∞ÄÏû• Ï§ëÏöîÌïú ÏßÄÌëú(Í∞ÄÏ§ëÏπò)Î•º Ï∞æÍ≥† ÏµúÏ†ÅÏùò Ïù∏ÌîåÎ£®Ïñ∏ÏÑúÎ•º ÏÑ†Ï†ï

In [103]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score

# ÏòàÏ†ú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ
data = mean_df.copy()

#ÌååÏÉùÎ≥ÄÏàò ÏÉùÏÑ±,
data['like_ratio'] = data['like_cnt'] / data['view_cnt']
data['comment_ratio'] = data['comment_cnt'] / data['view_cnt']
data['save_ratio'] = data['save_cnt'] / data['view_cnt']
data['FSR'] = data['save_cnt'] / data['follower_cnt'] # Follower to Save Ratio (FSR)
data['EPV'] = (data['like_cnt'] + data['comment_cnt'] + data['save_cnt']) / data['view_cnt'] # Ï°∞ÌöåÏàò ÎåÄÎπÑ ÏñºÎßàÎÇò ÎßéÏùÄ Ï∞∏Ïó¨(Ï¢ãÏïÑÏöî, ÎåìÍ∏Ä, Ï†ÄÏû•)Í∞Ä ÏùºÏñ¥ÎÇ¨ÎäîÏßÄÎ•º ÎÇòÌÉÄÎÇ¥Îäî ÏßÄÌëúÏûÖÎãàÎã§


# Í¥ëÍ≥† ÎπÑÏö© ÎåÄÎπÑ Î∞òÏùëÎ•†
data['response_rate'] = (data['like_cnt'] + data['comment_cnt'] + data['save_cnt']) / data['ad_cost']

data.head()

,name,follower_cnt,view_cnt,like_cnt,comment_cnt,save_cnt,ad_cost,ER%,influencer_size,avg_upload_interval,no.1,no.2,no.3,like_ratio,comment_ratio,save_ratio,FSR,EPV,response_rate
0,.blissdiaries,81700,9718,1447,60,196,194359333,1.850,ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,4.070,fashiion_tf,color_tf,skincare_tf,0.149,0.006,0.020,0.002,0.175,0.000
1,.m.egan,238200,178070,23864,183,3527,3561400000,10.100,Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,5.030,skincare_tf,color_tf,skin_routine_tf,0.134,0.001,0.020,0.015,0.155,0.000
2,.woniluv,135600,41956,2399,86,370,839124000,1.830,Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,2.380,skincare_tf,skin_routine_tf,trend_tf,0.057,0.002,0.009,0.003,0.068,0.000
3,4chriisty,79500,26122,4120,74,385,522450000,5.280,ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,2.480,fashiion_tf,color_tf,skincare_tf,0.158,0.003,0.015,0.005,0.175,0.000
4,__.annie.s,37300,10333,2375,128,465,206654667,6.710,ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú,3.140,skincare_tf,asmr,fashiion_tf,0.230,0.012,0.045,0.012,0.287,0.000

# ÌöåÍ∑ÄÎ∂ÑÏÑù

In [ ]:
numeric_df = data.select_dtypes(include=['number'])
#ÏÉÅÍ¥ÄÍ≥ÑÏàò ÌôïÏù∏
numeric_df.corr()

In [97]:
# Îã§Ï§ëÍ≥µÏÑ†ÏÑ± ÏúÑÌóò Ïª¨Îüº Ï†úÍ±∞ "ad_cost","view_cnt",'like_cnt','comment_cnt','save_cnt','response_rate,','FSR','EPV',
numeric_df = numeric_df.drop(columns=["ad_cost","view_cnt",'like_cnt','comment_cnt','save_cnt','response_rate','FSR','EPV'])
numeric_df.corr()

,follower_cnt,ER%,avg_upload_interval,like_ratio,comment_ratio,save_ratio
follower_cnt,1.000,-0.183,-0.179,-0.207,-0.244,-0.316
ER%,-0.183,1.000,0.035,0.102,-0.003,0.122
avg_upload_interval,-0.179,0.035,1.000,-0.119,-0.136,-0.159
like_ratio,-0.207,0.102,-0.119,1.000,0.773,0.846
comment_ratio,-0.244,-0.003,-0.136,0.773,1.000,0.790
save_ratio,-0.316,0.122,-0.159,0.846,0.790,1.000

In [98]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

result = add_constant(numeric_df)

# Í∞Å Î≥ÄÏàòÏóê ÎåÄÌïú VIF Í∞í Í≥ÑÏÇ∞
vif_data = pd.DataFrame()
vif_data["feature"] = result.columns 
vif_data["VIF"] = [variance_inflation_factor(result.values, i) for i in range(result.shape[1])]

# VIFÍ∞Ä ÎÜíÏùÄ Î≥ÄÏàò ÌôïÏù∏
print(vif_data)

               feature   VIF
0                const 7.978
1         follower_cnt 1.233
2                  ER% 1.074
3  avg_upload_interval 1.096
4           like_ratio 4.028
5        comment_ratio 3.068
6           save_ratio 4.583

In [99]:
from sklearn.linear_model import LinearRegression
# ÎèÖÎ¶Ω Î≥ÄÏàòÏôÄ Ï¢ÖÏÜç Î≥ÄÏàò Ï§ÄÎπÑ
X = numeric_df[['like_ratio', 'comment_ratio', 'save_ratio', 'follower_cnt', 'avg_upload_interval']]
X.corr()

,like_ratio,comment_ratio,save_ratio,follower_cnt,avg_upload_interval
like_ratio,1.000,0.773,0.846,-0.207,-0.119
comment_ratio,0.773,1.000,0.790,-0.244,-0.136
save_ratio,0.846,0.790,1.000,-0.316,-0.159
follower_cnt,-0.207,-0.244,-0.316,1.000,-0.179
avg_upload_interval,-0.119,-0.136,-0.159,-0.179,1.000

In [113]:
y = numeric_df['ER%'] 

# ÌïôÏäµ / ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ Î∂ÑÌï†
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# ÌöåÍ∑Ä Î™®Îç∏ ÌïôÏäµ
model = LinearRegression()
model.fit(X_train, y_train)

# ÏòàÏ∏° Î∞è ÌèâÍ∞Ä
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("ÌöåÍ∑Ä Í≥ÑÏàò (Í∞ÄÏ§ëÏπò):", dict(zip(X.columns, model.coef_.round(2))))
print(f"MAE: {mae:.5f}, R¬≤: {r2:.5f}")

ÌöåÍ∑Ä Í≥ÑÏàò (Í∞ÄÏ§ëÏπò): {'like_ratio': 77.42, 'comment_ratio': -1456.82, 'save_ratio': 269.25, 'follower_cnt': -0.0, 'avg_upload_interval': -0.06}
MAE: 11.85758, R¬≤: -0.53291