In [40]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import ast
from datetime import datetime, timedelta
import re
import string
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import pandas as pd
from sklearn.preprocessing import StandardScaler
from yellowbrick.cluster import KElbowVisualizer
from yellowbrick.cluster import intercluster_distance
from sklearn.cluster import MiniBatchKMeans
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

from wordcloud import WordCloud

### (1) Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞

In [ ]:
DATA_PATH = ""
os.chdir(DATA_PATH)
df = pd.read_csv(DATA_PATH+"tiktoker_crawling_df_0127.csv")

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1680 non-null   int64
 1   name        1680 non-null   object
 2   follower    1680 non-null   object
 3   view        1680 non-null   object
 4   like        1680 non-null   object
 5   comment     1680 non-null   int64
 6   save        1680 non-null   object
 7   date        1680 non-null   object
 8   info_tag    1664 non-null   object
 9   hash_tag    1680 non-null   object
dtypes: int64(2), object(8)
memory usage: 131.4+ KB

### (2)Ï†ÑÏ≤òÎ¶¨

#### Ï†ÑÏ≤òÎ¶¨_5 : Ïà´ÏûêÌòï, ÎÇ†ÏßúÌòï Ïª¨Îüº
> - view, like, comment, save Ïª¨Îüº : Îã®ÏúÑ(k,m) Î≥ÄÌôò
> - date
    >> - 25ÎÖÑÎèÑ 1Ïõî ÏóÖÎ°úÎìúÌïú Í≤ΩÏö∞ 2025-01-nnÏúºÎ°ú Î≥ÄÌôò 
    >> - nh ago, nd ago, 1w agoÏù∏ Í≤ΩÏö∞ 2025-01-21Í∏∞Ï§ÄÏúºÎ°ú ÎÇ†Ïßú Í≥ÑÏÇ∞

##### 5-1. date Ïª¨Îüº ÌòïÏãù ÌÜµÏùº Î∞è datetimeÏúºÎ°ú Î≥ÄÌôò

In [43]:
def preprocess_date(df):
    today = datetime(2025, 1, 21)

    for i in range(len(df)):
    
        if len(df['date'][i]) >= 8:
            df.loc[i, 'upload_date'] = df['date'][i]
    
        elif len(df['date'][i]) >= 6:
            date = df['date'][i].replace(' ','')
            alphabet_list = [a for a in date]
    
            if 'h' in alphabet_list:
                df.loc[i, 'upload_date'] = today
    
            elif 'd' in alphabet_list:
                day = alphabet_list[0]
                day = int(day)
                df.loc[i, 'upload_date'] = today - timedelta(days=day)
    
            elif 'w' in alphabet_list:
                week = alphabet_list[0]
                week = int(week)
                df.loc[i, 'upload_date'] = today - timedelta(weeks=week)
    
        elif len(df['date'][i]) == 4:
            df.loc[i, 'upload_date'] = '2025-' + df['date'][i]
    
        elif len(df['date'][i]) == 3:
            df.loc[i, 'upload_date'] = '2025-' + df['date'][i]

    # datetimeÌòïÏúºÎ°ú Î≥ÄÌôò
    df['upload_date'] = pd.to_datetime(df['upload_date'], format="%Y-%m-%d", errors='coerce')


preprocess_date(df)

In [44]:
# Í≤∞Í≥º ÌôïÏù∏ 1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1680 non-null   int64
 1   name         1680 non-null   object
 2   follower     1680 non-null   object
 3   view         1680 non-null   object
 4   like         1680 non-null   object
 5   comment      1680 non-null   int64
 6   save         1680 non-null   object
 7   date         1680 non-null   object
 8   info_tag     1664 non-null   object
 9   hash_tag     1680 non-null   object
 10  upload_date  1680 non-null   datetime64[us]
dtypes: datetime64[us](1), int64(2), object(8)
memory usage: 144.5+ KB

#### view, like, comment, saveÏª¨Îüº Îã®ÏúÑ Î≥ÄÌôò

In [45]:
# follower Ïª¨Îüº Îã®ÏúÑ Ï†ÑÏ≤òÎ¶¨

def process_follower(df):
    for i in range(len(df)):
        follower = df['follower'][i].replace(' ','')
        follower_list = [a for a in follower]
        if 'K' in follower_list:
            num = follower.split('K')[0]
            num = float(num)
            follower_cal = num*1000
            df.loc[i, 'follower_cnt'] = follower_cal
        elif 'M' in follower_list:
            num = follower.split('M')[0]
            num = float(num)
            follower_cal = num*1000000
            df.loc[i, 'follower_cnt'] = follower_cal
        else:
            num = df['follower'][i].replace(' ','')
            follower_cal = float(num)
            df.loc[i, 'follower_cnt'] = follower_cal

process_follower(df)

In [46]:
# view Ïª¨Îüº Îã®ÏúÑ Ï†ÑÏ≤òÎ¶¨

def process_view(df):
    for i in range(len(df)):
        view = df['view'][i].replace(' ','')
        view_list = [a for a in view]
        if 'K' in view_list:
            num = view.split('K')[0]
            num = float(num)
            view_cal = num*1000
            df.loc[i, 'view_cnt'] = view_cal
        elif 'M' in view_list:
            num = view.split('M')[0]
            num = float(num)
            view_cal = num*1000000
            df.loc[i, 'view_cnt'] = view_cal
        else:
            num = df['view'][i].replace(' ','')
            view_cal = float(num)
            df.loc[i, 'view_cnt'] = view_cal

process_view(df)

In [47]:
# like Ïª¨Îüº Îã®ÏúÑ Ï†ÑÏ≤òÎ¶¨

def process_like(df):
    for i in range(len(df)):
        like = df['like'][i].replace(' ','')
        like_list = [a for a in like]
        if 'K' in like_list:
            num = like.split('K')[0]
            num = float(num)
            like_cal = num*1000
            df.loc[i, 'like_cnt'] = like_cal
        elif 'M' in like_list:
            num = like.split('M')[0]
            num = float(num)
            like_cal = num*1000000
            df.loc[i, 'like_cnt'] = like_cal
        else:
            num = df['like'][i].replace(' ','')
            like_cal = float(num)
            df.loc[i, 'like_cnt'] = like_cal

process_like(df)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1680 non-null   int64
 1   name          1680 non-null   object
 2   follower      1680 non-null   object
 3   view          1680 non-null   object
 4   like          1680 non-null   object
 5   comment       1680 non-null   int64
 6   save          1680 non-null   object
 7   date          1680 non-null   object
 8   info_tag      1664 non-null   object
 9   hash_tag      1680 non-null   object
 10  upload_date   1680 non-null   datetime64[us]
 11  follower_cnt  1680 non-null   float64
 12  view_cnt      1680 non-null   float64
 13  like_cnt      1680 non-null   float64
dtypes: datetime64[us](1), float64(3), int64(2), object(8)
memory usage: 183.9+ KB

In [49]:
# comment Ïª¨Îüº Îã®ÏúÑ Ï†ÑÏ≤òÎ¶¨

def process_comment(df):
    for i in range(len(df)):
        comment = str(df['comment'][i]).replace(' ','')
        comment_list = [a for a in comment]
        if 'K' in comment_list:
            num = comment.split('K')[0]
            num = float(num)
            comment_cal = num*1000
            df.loc[i, 'comment_cnt'] = comment_cal
        elif 'M' in comment_list:
            num = comment.split('M')[0]
            num = float(num)
            comment_cal = num*1000000
            df.loc[i, 'comment_cnt'] = comment_cal
        else:
            num = str(df['comment'][i]).replace(' ','')
            comment_cal = float(num)
            df.loc[i, 'comment_cnt'] = comment_cal

process_comment(df)

In [50]:
# save Ïª¨Îüº Îã®ÏúÑ Ï†ÑÏ≤òÎ¶¨

def process_save(df):
    for i in range(len(df)):
        save = df['save'][i].replace(' ','')
        save_list = [a for a in save]
        if 'K' in save_list:
            num = save.split('K')[0]
            num = float(num)
            save_cal = num*1000
            df.loc[i, 'save_cnt'] = save_cal
        elif 'M' in save_list:
            num = save.split('M')[0]
            num = float(num)
            save_cal = num*1000000
            df.loc[i, 'save_cnt'] = save_cal
        else:
            num = df['save'][i].replace(' ','')
            save_cal = float(num)
            df.loc[i, 'save_cnt'] = save_cal

process_save(df)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1680 non-null   int64
 1   name          1680 non-null   object
 2   follower      1680 non-null   object
 3   view          1680 non-null   object
 4   like          1680 non-null   object
 5   comment       1680 non-null   int64
 6   save          1680 non-null   object
 7   date          1680 non-null   object
 8   info_tag      1664 non-null   object
 9   hash_tag      1680 non-null   object
 10  upload_date   1680 non-null   datetime64[us]
 11  follower_cnt  1680 non-null   float64
 12  view_cnt      1680 non-null   float64
 13  like_cnt      1680 non-null   float64
 14  comment_cnt   1680 non-null   float64
 15  save_cnt      1680 non-null   float64
dtypes: datetime64[us](1), float64(5), int64(2), object(8)
memory usage: 210.1+ KB

In [52]:
# view_cnt, like_cnt, comment_cnt, save_cntÏª¨Îüº floatÏóêÏÑú intÎ°ú Î≥ÄÌôò

df['view_cnt'] = df['view_cnt'].round(0).astype(int)
df['like_cnt'] = df['like_cnt'].round(0).astype(int)
df['comment_cnt'] = df['comment_cnt'].round(0).astype(int)
df['save_cnt'] = df['save_cnt'].round(0).astype(int)

In [53]:
# Í≤∞Í≥º ÌôïÏù∏ 1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1680 non-null   int64
 1   name          1680 non-null   object
 2   follower      1680 non-null   object
 3   view          1680 non-null   object
 4   like          1680 non-null   object
 5   comment       1680 non-null   int64
 6   save          1680 non-null   object
 7   date          1680 non-null   object
 8   info_tag      1664 non-null   object
 9   hash_tag      1680 non-null   object
 10  upload_date   1680 non-null   datetime64[us]
 11  follower_cnt  1680 non-null   float64
 12  view_cnt      1680 non-null   int64
 13  like_cnt      1680 non-null   int64
 14  comment_cnt   1680 non-null   int64
 15  save_cnt      1680 non-null   int64
dtypes: datetime64[us](1), float64(1), int64(6), object(8)
memory usage: 210.1+ KB

In [54]:
# Í≤∞Í≥º ÌôïÏù∏ 2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1680 non-null   int64
 1   name          1680 non-null   object
 2   follower      1680 non-null   object
 3   view          1680 non-null   object
 4   like          1680 non-null   object
 5   comment       1680 non-null   int64
 6   save          1680 non-null   object
 7   date          1680 non-null   object
 8   info_tag      1664 non-null   object
 9   hash_tag      1680 non-null   object
 10  upload_date   1680 non-null   datetime64[us]
 11  follower_cnt  1680 non-null   float64
 12  view_cnt      1680 non-null   int64
 13  like_cnt      1680 non-null   int64
 14  comment_cnt   1680 non-null   int64
 15  save_cnt      1680 non-null   int64
dtypes: datetime64[us](1), float64(1), int64(6), object(8)
memory usage: 210.1+ KB

In [55]:
df.columns

Index(['Unnamed: 0', 'name', 'follower', 'view', 'like', 'comment', 'save',
       'date', 'info_tag', 'hash_tag', 'upload_date', 'follower_cnt',
       'view_cnt', 'like_cnt', 'comment_cnt', 'save_cnt'],
      dtype='object')

In [56]:
# ÌïÑÏöîÌïú Ïª¨ÎüºÎßå Ï∂îÏ∂ú

df = df[['name', 'follower_cnt', 'upload_date', 'view_cnt', 'like_cnt','comment_cnt', 'save_cnt', 'info_tag']]

In [57]:
df

,name,follower_cnt,upload_date,view_cnt,like_cnt,comment_cnt,save_cnt,info_tag
0,mydelicate,"399,800.000",2025-01-21,5158,1334,74,175,my favourite blushes and why (with shades)üíì yo...
1,mydelicate,"399,800.000",2025-01-18,24300,6606,246,917,spend a productive morning with me üíìüéÄ why is i...
2,mydelicate,"399,800.000",2025-01-15,10400,1881,90,218,for my girlies who still want to look cute whe...
3,mydelicate,"399,800.000",2025-01-14,22100,4206,193,602,new Flower Knows strawberry cupid collection u...
4,mydelicate,"399,800.000",2025-01-18,17200,2995,123,432,my favourite products for soft skin üéÄüíì names:\...
...,...,...,...,...,...,...,...,...
1675,amyflamy1,"4,300,000.000",2024-12-14,1400000,131400,640,3686,My hands be too smoll\n#fyp #dance #dancechall...
1676,amyflamy1,"4,300,000.000",2024-12-13,3800000,431000,1654,21100,We single for a reason‚ú®üíÖ\n\n#fyp #dance #dance...
1677,amyflamy1,"4,300,000.000",2024-12-12,6200000,647700,3055,33400,Bibim noodels mukbangüçú\n#mukbang #mukbangeatin...
1678,amyflamy1,"4,300,000.000",2024-12-10,936900,94400,536,3589,Welcome girls you‚Äôre safe here\n#gurwm #gurwmr...
1679,amyflamy1,"4,300,000.000",2024-12-10,1600000,176900,1052,7446,Queen never cry.üíÖsometimes\n#gurwm #gurwmrouti...

In [58]:
df

,name,follower_cnt,upload_date,view_cnt,like_cnt,comment_cnt,save_cnt,info_tag
0,mydelicate,"399,800.000",2025-01-21,5158,1334,74,175,my favourite blushes and why (with shades)üíì yo...
1,mydelicate,"399,800.000",2025-01-18,24300,6606,246,917,spend a productive morning with me üíìüéÄ why is i...
2,mydelicate,"399,800.000",2025-01-15,10400,1881,90,218,for my girlies who still want to look cute whe...
3,mydelicate,"399,800.000",2025-01-14,22100,4206,193,602,new Flower Knows strawberry cupid collection u...
4,mydelicate,"399,800.000",2025-01-18,17200,2995,123,432,my favourite products for soft skin üéÄüíì names:\...
...,...,...,...,...,...,...,...,...
1675,amyflamy1,"4,300,000.000",2024-12-14,1400000,131400,640,3686,My hands be too smoll\n#fyp #dance #dancechall...
1676,amyflamy1,"4,300,000.000",2024-12-13,3800000,431000,1654,21100,We single for a reason‚ú®üíÖ\n\n#fyp #dance #dance...
1677,amyflamy1,"4,300,000.000",2024-12-12,6200000,647700,3055,33400,Bibim noodels mukbangüçú\n#mukbang #mukbangeatin...
1678,amyflamy1,"4,300,000.000",2024-12-10,936900,94400,536,3589,Welcome girls you‚Äôre safe here\n#gurwm #gurwmr...
1679,amyflamy1,"4,300,000.000",2024-12-10,1600000,176900,1052,7446,Queen never cry.üíÖsometimes\n#gurwm #gurwmrouti...

### Ï†ÑÏ≤òÎ¶¨_2 : Ìï¥ÏãúÌÉúÍ∑∏ Ïª¨Îüº ÏÉùÏÑ±
> - ÌÅ¨Î°§ÎßÅ Ìïú Îç∞Ïù¥ÌÑ∞Î•º csvÌååÏùºÎ°ú Î≥ÄÌôòÌïòÎäî Í≥ºÏ†ïÏóêÏÑú hash_tagÏª¨ÎüºÏùò ÏùºÎ∂Ä ÌñâÎì§Ïù¥ ÏÜêÏÉÅÎêòÎäî Î¨∏Ï†ú Î∞úÏÉù
> - info Ïª¨ÎüºÏóêÏÑú Ìï¥ÏãúÌÉúÍ∑∏ Ï∂îÏ∂úÌïòÏó¨ Ìï¥ÏãúÌÉúÍ∑∏ Ïª¨Îüº Îã§Ïãú ÏÉùÏÑ±

#### info Ïª¨ÎüºÏóêÏÑú Ìï¥ÏãúÌÉúÍ∑∏ Ï∂îÏ∂ú

In [59]:
def new_hash_tag_process(df):
    for i in range(len(df)):
        info = str(df['info_tag'][i])
        info_split_list = info.split(' ')
        hash_tag_list = []
        for a in info_split_list:
            if a.startswith('#'):
                hash_tag_list.append(a)
            elif a.startswith('@'):
                hash_tag_list.append(a)
            else:
                pass
        df.loc[i, 'hash_tag'] = ','.join(hash_tag_list)

new_hash_tag_process(df)

In [60]:
# Í≤∞Í≥º ÌôïÏù∏
df.head(3)

,name,follower_cnt,upload_date,view_cnt,like_cnt,comment_cnt,save_cnt,info_tag,hash_tag
0,mydelicate,"399,800.000",2025-01-21,5158,1334,74,175,my favourite blushes and why (with shades)üíì yo...,"@YesStyle,@House,#cbeauty,#koreanmakeup,#skinc..."
1,mydelicate,"399,800.000",2025-01-18,24300,6606,246,917,spend a productive morning with me üíìüéÄ why is i...,"#kbeauty,#morningroutine,#vlog,#wonyoungism,#s..."
2,mydelicate,"399,800.000",2025-01-15,10400,1881,90,218,for my girlies who still want to look cute whe...,"@SHEINUS,@SHEIN\nuse,#winterclothes,#coquette,..."

In [61]:
# Í≤∞Í≥º ÌôïÏù∏ 2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          1680 non-null   object
 1   follower_cnt  1680 non-null   float64
 2   upload_date   1680 non-null   datetime64[us]
 3   view_cnt      1680 non-null   int64
 4   like_cnt      1680 non-null   int64
 5   comment_cnt   1680 non-null   int64
 6   save_cnt      1680 non-null   int64
 7   info_tag      1664 non-null   object
 8   hash_tag      1680 non-null   object
dtypes: datetime64[us](1), float64(1), int64(4), object(3)
memory usage: 118.3+ KB

In [ ]:

df.to_csv('tiktoker_final_df_0127.csv',index=False, encoding="utf-8-sig")

### Ï†ÑÏ≤òÎ¶¨_4 : ÏûêÏó∞Ïñ¥ Ï≤òÎ¶¨

In [ ]:
# Îç∞Ïù¥ÌÑ∞ Îã§Ïãú Î∂àÎü¨Ïò§Í∏∞ 
df = pd.read_csv('tiktoker_final_df_0127.csv')

In [80]:
df.head(3)

,name,follower_cnt,upload_date,view_cnt,like_cnt,comment_cnt,save_cnt,info_tag,hash_tag
0,mydelicate,"399,800.000",2025-01-21,5158,1334,74,175,my favourite blushes and why (with shades)üíì yo...,"@YesStyle,@House,#cbeauty,#koreanmakeup,#skinc..."
1,mydelicate,"399,800.000",2025-01-18,24300,6606,246,917,spend a productive morning with me üíìüéÄ why is i...,"#kbeauty,#morningroutine,#vlog,#wonyoungism,#s..."
2,mydelicate,"399,800.000",2025-01-15,10400,1881,90,218,for my girlies who still want to look cute whe...,"@SHEINUS,@SHEIN\nuse,#winterclothes,#coquette,..."

In [81]:
# nltk ÏóêÏÑú Punkt tokenizer & stopwords listÎ•º Îã§Ïö¥Î°úÎìú
nltk.download('punkt_tab')
nltk.download('stopwords')

[nltk_data] Downloading package punkt_tab to /Users/jun/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/jun/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

### EDA

#### Ïù∏ÌîåÎ£®Ïñ∏ÏÑú ÏÇ¨Ïù¥Ï¶àÎ≥Ñ Í¥ëÍ≥†Í∞ÄÍ≤© Î∂ÑÎ•ò
- ÎÇòÎÖ∏ Ïù∏ÌîåÎ£®Ïñ∏ÏÑú (1,000‚Äì10,000 ÌåîÎ°úÏõå): Í≤åÏãúÎ¨ºÎãπ $5~$25
- ÎßàÏù¥ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú (10,000‚Äì100,000 ÌåîÎ°úÏõå): Í≤åÏãúÎ¨ºÎãπ $25~$125
- Ï§ëÍ∞ÑÍ∏â Ïù∏ÌîåÎ£®Ïñ∏ÏÑú (100,000‚Äì500,000 ÌåîÎ°úÏõå): Í≤åÏãúÎ¨ºÎãπ $125~$1,200
- Îß§ÌÅ¨Î°ú Ïù∏ÌîåÎ£®Ïñ∏ÏÑú (500,000‚Äì1Î∞±Îßå ÌåîÎ°úÏõå): Í≤åÏãúÎ¨ºÎãπ $1,200~$2,500
- Î©îÍ∞Ä Ïù∏ÌîåÎ£®Ïñ∏ÏÑú (1Î∞±Îßå+ ÌåîÎ°úÏõå): Í≤åÏãúÎ¨ºÎãπ $2,500 Ïù¥ÏÉÅ

Í¥ëÍ≥† Í∞ÄÍ≤© Î∂ÑÎ•ò
ÌèâÍ∑† ÏòÅÏÉÅ Ï°∞Ìöå Ïàò * 2Îßå

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          1680 non-null   object
 1   follower_cnt  1680 non-null   float64
 2   upload_date   1680 non-null   object
 3   view_cnt      1680 non-null   int64
 4   like_cnt      1680 non-null   int64
 5   comment_cnt   1680 non-null   int64
 6   save_cnt      1680 non-null   int64
 7   info_tag      1664 non-null   object
 8   hash_tag      1620 non-null   object
dtypes: float64(1), int64(4), object(4)
memory usage: 118.3+ KB

#### Ïù∏ÌîåÎ£®Ïñ∏ÏÑúÎ≥Ñ ÌèâÍ∑† view, like, comment, save

In [83]:
# ÏÜåÏàòÏ†ê Ïù¥Ìïò 3ÏûêÎ¶¨ÍπåÏßÄ Ï∂úÎ†•ÎêòÎèÑÎ°ù ÏÑ§Ï†ï
pd.options.display.float_format = '{:,.3f}'.format

mean_df = df.groupby('name').agg({'follower_cnt':'mean',
                                    'view_cnt':'mean',
                                    'like_cnt':'mean',
                                    'comment_cnt':'mean',
                                    'save_cnt':'mean'
                                    }).reset_index()

In [84]:
mean_df

,name,follower_cnt,view_cnt,like_cnt,comment_cnt,save_cnt
0,.blissdiaries,"81,700.000","9,717.967","1,447.333",60.467,196.200
1,.m.egan,"238,200.000","178,070.000","23,864.300",182.533,"3,527.300"
2,.woniluv,"135,600.000","41,956.200","2,399.000",85.767,369.933
3,4chriisty,"79,500.000","26,122.500","4,119.733",74.133,385.367
4,__.annie.s,"37,300.000","10,332.733","2,375.100",128.467,465.100
5,_luvwonsnnx,"23,900.000","8,783.467","1,593.633",57.867,261.967
6,aeiezo.pdf,"21,400.000","20,647.133","2,587.733",95.900,350.233
7,ameenbeautytips,"4,800,000.000","418,445.967","1,602.867",14.767,143.100
8,amyflamy1,"4,300,000.000","2,490,070.000","272,720.000","1,466.933","19,117.433"
9,asiamelon,"13,700.000","1,751.233",164.300,12.267,19.767
10,ayheyt3u,"78,900.000","28,749.600","1,745.633",9.000,265.567
11,aylennpark,"1,400,000.000","401,173.333","38,670.167",223.000,"9,051.067"
12,bwnniewony,"232,600.000","69,701.833","14,760.600",665.000,"2,848.500"
13,caspertheghostyy,"442,700.000","130,703.333","9,439.933",50.200,919.300
14,cleangirlhacks,"153,200.000","61,548.333","2,490.667",3.700,696.933
15,cleanlivingkarly,"25,000.000","6,023.667",223.300,15.633,90.067
16,danicolexx,"881,700.000","1,101,633.333","64,087.367",303.533,"10,401.900"
17,dearwonii_,"217,100.000","181,596.667","10,573.100",272.800,"1,435.067"
18,emchu_,"72,700.000","39,188.433","4,089.500",33.500,549.133
19,fromh1ae_,"6,573.000","10,655.733","2,571.867",109.900,459.733
20,gae4hrv,"366,400.000","431,319.233","43,777.500","1,014.333","9,850.867"
21,glowupwithinah,"468,500.000","82,490.500","2,379.133",40.233,565.500
22,haruqhxz,"47,000.000","8,141.167","1,210.167",34.267,242.433
23,heartsfor.kbeauty,"387,400.000","271,766.667","28,936.633",490.000,"3,868.667"
24,its.kaylas,"51,100.000","24,006.933","4,257.867",32.467,874.600
25,itsedonna,"61,400.000","81,914.967","2,118.267",40.567,838.200
26,izzydiaries,"226,200.000","44,541.433","8,707.467",262.733,"1,661.267"
27,jaerini,"41,000.000","153,595.000","10,328.267",25.633,"2,559.933"
28,jasminnlily_,"1,000,000.000","679,816.667","30,959.033",154.733,"3,688.133"
29,jeb_bi,"7,693.000","16,871.533","1,727.167",16.767,157.000
30,koocat,"298,200.000","114,527.467","8,906.733",71.100,"2,033.567"
31,krystallee2222,"65,200.000","392,343.333","35,183.000",120.300,"13,670.833"
32,kwyeona,"29,000.000","18,345.800","3,900.700",317.467,824.533
33,lovelymiri05,"177,100.000","6,429.733","1,359.700",129.000,265.967
34,luvsfor.jennie,"4,121.000","5,844.167","1,114.800",75.400,106.233
35,milkydew,"296,200.000","673,410.000","36,566.800",361.467,"9,962.833"
36,minseonk1m,"173,000.000","285,340.467","20,507.467",61.333,"2,858.000"
37,misscasxie,"8,997.000","53,270.300","9,626.867",109.533,"1,378.333"
38,monakoaa,"1,500,000.000","255,356.667","25,471.367",60.433,"1,429.333"
39,moonskinclub,"216,800.000","325,936.667","20,701.433",55.700,"2,347.267"
40,mydelicate,"399,800.000","44,745.267","7,380.800",198.533,"1,262.633"
41,nana.tan07,"63,300.000","157,372.267","9,054.967",51.600,"1,829.900"
42,ofeemi7,"98,700.000","152,066.000","8,523.067",28.900,"2,160.833"
43,olafflee,"2,400,000.000","266,630.000","38,966.900",242.667,"3,528.567"
44,onlydahia,"149,600.000","55,512.367","8,152.267",86.700,"1,049.000"
45,ooolongmilkteaa,"9,170.000","6,455.667","1,841.733",122.800,376.967
46,ririsglow_,"47,200.000","11,622.067",623.700,11.533,124.500
47,rosiehashs,"55,300.000","8,242.433","1,105.933",54.800,193.733
48,saeroniee,"444,700.000","58,048.267","8,088.433",41.833,725.400
49,soft.milky.latte,"504,500.000","20,980.233","2,630.933",24.000,276.600
50,songofskin,"1,200,000.000","348,381.667","26,675.700",115.767,"3,796.700"
51,thelipstickgirly,"92,900.000","2,518,470.000","104,070.367",319.567,"20,036.767"
52,tracyy_s,"374,000.000","652,990.000","102,344.900",190.600,"5,849.367"
53,vanessafaga,"1,600,000.000","300,796.667","47,646.633",728.400,"5,968.733"
54,velcroluv,"114,500.000","21,289.867","4,664.467",222.233,921.500
55,widyaatharva01,"134,500.000","1,690.833",73.267,0.500,0.667

In [85]:
mean_df.loc[:,'ad_cost'] = mean_df['view_cnt'] * 20000

In [87]:
mean_df.iloc[1:, 1:] = mean_df.iloc[1:, 1:].replace(",", "", regex=True).astype(float).round(0).astype(int)

In [88]:
# erp
mean_df['ER%'] = (mean_df['like_cnt']+mean_df['comment_cnt'])/mean_df['follower_cnt'] * 100

In [89]:
mean_df

,follower_cnt,view_cnt,like_cnt,comment_cnt,save_cnt,ad_cost,ER%
1,238200,178070,23864,183,3527,3561400000,10.095
2,135600,41956,2399,86,370,839124000,1.833
3,79500,26122,4120,74,385,522450000,5.275
4,37300,10333,2375,128,465,206654667,6.710
5,23900,8783,1594,58,262,175669333,6.912
6,21400,20647,2588,96,350,412942667,12.542
7,4800000,418446,1603,15,143,8368919333,0.034
8,4300000,2490070,272720,1467,19117,49801400000,6.376
9,13700,1751,164,12,20,35024667,1.285
10,78900,28750,1746,9,266,574992000,2.224
11,1400000,401173,38670,223,9051,8023466667,2.778
12,232600,69702,14761,665,2848,1394036667,6.632
13,442700,130703,9440,50,919,2614066667,2.144
14,153200,61548,2491,4,697,1230966667,1.629
15,25000,6024,223,16,90,120473333,0.956
16,881700,1101633,64087,304,10402,22032666667,7.303
17,217100,181597,10573,273,1435,3631933333,4.996
18,72700,39188,4090,34,549,783768667,5.673
19,6573,10656,2572,110,460,213114667,40.803
20,366400,431319,43778,1014,9851,8626384667,12.225
21,468500,82490,2379,40,566,1649810000,0.516
22,47000,8141,1210,34,242,162823333,2.647
23,387400,271767,28937,490,3869,5435333333,7.596
24,51100,24007,4258,32,875,480138667,8.395
25,61400,81915,2118,41,838,1638299333,3.516
26,226200,44541,8707,263,1661,890828667,3.966
27,41000,153595,10328,26,2560,3071900000,25.254
28,1000000,679817,30959,155,3688,13596333333,3.111
29,7693,16872,1727,17,157,337430667,22.670
30,298200,114527,8907,71,2034,2290549333,3.011
31,65200,392343,35183,120,13671,7846866667,54.146
32,29000,18346,3901,317,825,366916000,14.545
33,177100,6430,1360,129,266,128594667,0.841
34,4121,5844,1115,75,106,116883333,28.876
35,296200,673410,36567,361,9963,13468200000,12.467
36,173000,285340,20507,61,2858,5706809333,11.889
37,8997,53270,9627,110,1378,1065406000,108.225
38,1500000,255357,25471,60,1429,5107133333,1.702
39,216800,325937,20701,56,2347,6518733333,9.574
40,399800,44745,7381,199,1263,894905333,1.896
41,63300,157372,9055,52,1830,3147445333,14.387
42,98700,152066,8523,29,2161,3041320000,8.665
43,2400000,266630,38967,243,3529,5332600000,1.634
44,149600,55512,8152,87,1049,1110247333,5.507
45,9170,6456,1842,123,377,129113333,21.429
46,47200,11622,624,12,124,232441333,1.347
47,55300,8242,1106,55,194,164848667,2.099
48,444700,58048,8088,42,725,1160965333,1.828
49,504500,20980,2631,24,277,419604667,0.526
50,1200000,348382,26676,116,3797,6967633333,2.233
51,92900,2518470,104070,320,20037,50369400000,112.368
52,374000,652990,102345,191,5849,13059800000,27.416
53,1600000,300797,47647,728,5969,6015933333,3.023
54,114500,21290,4664,222,922,425797333,4.267
55,134500,1691,73,0,1,33816667,0.054

In [90]:
# ÏóÖÎ°úÎìú ÎπàÎèÑ
df[['name','upload_date']]

            name upload_date
0     mydelicate  2025-01-21
1     mydelicate  2025-01-18
2     mydelicate  2025-01-15
3     mydelicate  2025-01-14
4     mydelicate  2025-01-18
...          ...         ...
1675   amyflamy1  2024-12-14
1676   amyflamy1  2024-12-13
1677   amyflamy1  2024-12-12
1678   amyflamy1  2024-12-10
1679   amyflamy1  2024-12-10

[1680 rows x 2 columns]

In [91]:
import pandas as pd
import numpy as np
import re
from datetime import datetime, timedelta

# ‚úÖ ÌòÑÏû¨ ÎÇ†Ïßú Í∏∞Ï§Ä
TODAY = datetime(2025, 1, 27)  # ÌòÑÏû¨ ÎÇ†Ïßú ÏÑ§Ï†ï

df['upload_date'] = pd.to_datetime(df['upload_date'])  # ÎÇ†ÏßúÌòïÏúºÎ°ú Î≥ÄÌôò

# ‚úÖ name Î≥ÑÎ°ú ÏóÖÎ°úÎìú Í∞ÑÍ≤© Í≥ÑÏÇ∞
tiktoker_df = df.sort_values(by=["name", "upload_date"])  # Ïù¥Î¶Ñ + ÎÇ†ÏßúÏàú Ï†ïÎ†¨
tiktoker_df["prev_date"] = tiktoker_df.groupby("name")["upload_date"].shift(1)  # Ïù¥Ï†Ñ ÏòÅÏÉÅ ÎÇ†Ïßú
tiktoker_df["upload_gap"] = (tiktoker_df["upload_date"] - tiktoker_df["prev_date"]).dt.days  # Í∞ÑÍ≤©(Ïùº)

# ‚úÖ ÌèâÍ∑† ÏóÖÎ°úÎìú Ï£ºÍ∏∞ Í≥ÑÏÇ∞
upload_cycle = tiktoker_df.groupby("name")["upload_gap"].mean().reset_index()
upload_cycle.rename(columns={"upload_gap": "avg_upload_interval"}, inplace=True)

# ‚úÖ Í≤∞Í≥º Ï∂úÎ†•
print(upload_cycle)

                 name  avg_upload_interval
0       .blissdiaries                4.069
1             .m.egan                5.034
2            .woniluv                2.379
3           4chriisty                2.483
4          __.annie.s                3.138
5         _luvwonsnnx                1.483
6          aeiezo.pdf                3.483
7     ameenbeautytips                0.172
8           amyflamy1                1.448
9           asiamelon                3.345
10           ayheyt3u                5.759
11         aylennpark                1.621
12         bwnniewony                1.931
13   caspertheghostyy                0.828
14     cleangirlhacks                3.034
15   cleanlivingkarly                0.552
16         danicolexx                0.310
17         dearwonii_                2.655
18             emchu_                3.414
19          fromh1ae_                2.207
20            gae4hrv                3.586
21     glowupwithinah                0.241
22           haruqhxz                5.621
23  heartsfor.kbeauty                2.586
24         its.kaylas                1.310
25          itsedonna                1.310
26        izzydiaries                3.379
27            jaerini                9.138
28       jasminnlily_                2.241
29             jeb_bi                1.862
30             koocat                1.724
31     krystallee2222                2.241
32            kwyeona                2.310
33       lovelymiri05                0.621
34     luvsfor.jennie                1.207
35           milkydew                0.517
36         minseonk1m                0.828
37         misscasxie                4.483
38           monakoaa                1.138
39       moonskinclub                1.034
40         mydelicate                1.103
41         nana.tan07                7.276
42            ofeemi7                1.345
43           olafflee                2.241
44          onlydahia                2.345
45    ooolongmilkteaa                1.931
46         ririsglow_                2.345
47         rosiehashs                0.862
48          saeroniee                1.448
49   soft.milky.latte                4.966
50         songofskin                0.414
51   thelipstickgirly                2.759
52           tracyy_s                3.655
53        vanessafaga                1.310
54          velcroluv                0.897
55     widyaatharva01               25.310

In [92]:
df

,name,follower_cnt,upload_date,view_cnt,like_cnt,comment_cnt,save_cnt,info_tag,hash_tag
0,mydelicate,"399,800.000",2025-01-21,5158,1334,74,175,my favourite blushes and why (with shades)üíì yo...,"@YesStyle,@House,#cbeauty,#koreanmakeup,#skinc..."
1,mydelicate,"399,800.000",2025-01-18,24300,6606,246,917,spend a productive morning with me üíìüéÄ why is i...,"#kbeauty,#morningroutine,#vlog,#wonyoungism,#s..."
2,mydelicate,"399,800.000",2025-01-15,10400,1881,90,218,for my girlies who still want to look cute whe...,"@SHEINUS,@SHEIN\nuse,#winterclothes,#coquette,..."
3,mydelicate,"399,800.000",2025-01-14,22100,4206,193,602,new Flower Knows strawberry cupid collection u...,"#flowerknows,#unboxing,#cbeauty,#chinesemakeup..."
4,mydelicate,"399,800.000",2025-01-18,17200,2995,123,432,my favourite products for soft skin üéÄüíì names:\...,"@cosmetic_jolse,@YesStyle,@sephora,@Sol,#selfc..."
...,...,...,...,...,...,...,...,...,...
1675,amyflamy1,"4,300,000.000",2024-12-14,1400000,131400,640,3686,My hands be too smoll\n#fyp #dance #dancechall...,"#dance,#dancechallenge"
1676,amyflamy1,"4,300,000.000",2024-12-13,3800000,431000,1654,21100,We single for a reason‚ú®üíÖ\n\n#fyp #dance #dance...,"#dance,#dancechallenge,#dresstoimpress,#fashio..."
1677,amyflamy1,"4,300,000.000",2024-12-12,6200000,647700,3055,33400,Bibim noodels mukbangüçú\n#mukbang #mukbangeatin...,"#mukbangeatingshow,#mukbangvideo,#eating,#eati..."
1678,amyflamy1,"4,300,000.000",2024-12-10,936900,94400,536,3589,Welcome girls you‚Äôre safe here\n#gurwm #gurwmr...,"#gurwmroutine,#grwm,#grwmroutine,#skincarerout..."
1679,amyflamy1,"4,300,000.000",2024-12-10,1600000,176900,1052,7446,Queen never cry.üíÖsometimes\n#gurwm #gurwmrouti...,"#gurwmroutine,#grwm,#grwmroutine,#skincarerout..."

In [93]:
upload_cycle

                 name  avg_upload_interval
0       .blissdiaries                4.069
1             .m.egan                5.034
2            .woniluv                2.379
3           4chriisty                2.483
4          __.annie.s                3.138
5         _luvwonsnnx                1.483
6          aeiezo.pdf                3.483
7     ameenbeautytips                0.172
8           amyflamy1                1.448
9           asiamelon                3.345
10           ayheyt3u                5.759
11         aylennpark                1.621
12         bwnniewony                1.931
13   caspertheghostyy                0.828
14     cleangirlhacks                3.034
15   cleanlivingkarly                0.552
16         danicolexx                0.310
17         dearwonii_                2.655
18             emchu_                3.414
19          fromh1ae_                2.207
20            gae4hrv                3.586
21     glowupwithinah                0.241
22           haruqhxz                5.621
23  heartsfor.kbeauty                2.586
24         its.kaylas                1.310
25          itsedonna                1.310
26        izzydiaries                3.379
27            jaerini                9.138
28       jasminnlily_                2.241
29             jeb_bi                1.862
30             koocat                1.724
31     krystallee2222                2.241
32            kwyeona                2.310
33       lovelymiri05                0.621
34     luvsfor.jennie                1.207
35           milkydew                0.517
36         minseonk1m                0.828
37         misscasxie                4.483
38           monakoaa                1.138
39       moonskinclub                1.034
40         mydelicate                1.103
41         nana.tan07                7.276
42            ofeemi7                1.345
43           olafflee                2.241
44          onlydahia                2.345
45    ooolongmilkteaa                1.931
46         ririsglow_                2.345
47         rosiehashs                0.862
48          saeroniee                1.448
49   soft.milky.latte                4.966
50         songofskin                0.414
51   thelipstickgirly                2.759
52           tracyy_s                3.655
53        vanessafaga                1.310
54          velcroluv                0.897
55     widyaatharva01               25.310

In [186]:
mean_df['avg_upload_interval'] = upload_cycle['avg_upload_interval']
mean_df

,name,follower_cnt,view_cnt,like_cnt,comment_cnt,save_cnt,tiktoker_size,ad_cost,ER,avg_upload_interval
0,.blissdiaries,"81,700.00","9,717.97","1,447.33",60.47,196.20,micro_influancer,25.00,1.85,4.07
1,.m.egan,"238,200.00","178,070.00","23,864.30",182.53,"3,527.30",middle_influancer,125.00,10.10,5.03
2,.woniluv,"135,600.00","41,956.20","2,399.00",85.77,369.93,middle_influancer,125.00,1.83,2.38
3,4chriisty,"79,500.00","26,122.50","4,119.73",74.13,385.37,micro_influancer,25.00,5.28,2.48
4,__.annie.s,"37,300.00","10,332.73","2,375.10",128.47,465.10,micro_influancer,25.00,6.71,3.14
5,_luvwonsnnx,"23,900.00","8,783.47","1,593.63",57.87,261.97,micro_influancer,25.00,6.91,1.48
6,aeiezo.pdf,"21,400.00","20,647.13","2,587.73",95.90,350.23,micro_influancer,25.00,12.54,3.48
7,ameenbeautytips,"4,800,000.00","418,445.97","1,602.87",14.77,143.10,mega_influancer,"2,500.00",0.03,0.17
8,amyflamy1,"4,300,000.00","2,490,070.00","272,720.00","1,466.93","19,117.43",mega_influancer,"2,500.00",6.38,1.45
9,asiamelon,"13,700.00","1,751.23",164.30,12.27,19.77,micro_influancer,25.00,1.29,3.34
10,ayheyt3u,"78,900.00","28,749.60","1,745.63",9.00,265.57,micro_influancer,25.00,2.22,5.76
11,aylennpark,"1,400,000.00","401,173.33","38,670.17",223.00,"9,051.07",mega_influancer,"2,500.00",2.78,1.62
12,bwnniewony,"232,600.00","69,701.83","14,760.60",665.00,"2,848.50",middle_influancer,125.00,6.63,1.93
13,caspertheghostyy,"442,700.00","130,703.33","9,439.93",50.20,919.30,middle_influancer,125.00,2.14,0.83
14,cleangirlhacks,"153,200.00","61,548.33","2,490.67",3.70,696.93,middle_influancer,125.00,1.63,3.03
15,cleanlivingkarly,"25,000.00","6,023.67",223.30,15.63,90.07,micro_influancer,25.00,0.96,0.55
16,danicolexx,"881,700.00","1,101,633.33","64,087.37",303.53,"10,401.90",mekro_influancer,"1,200.00",7.30,0.31
17,dearwonii_,"217,100.00","181,596.67","10,573.10",272.80,"1,435.07",middle_influancer,125.00,5.00,2.66
18,emchu_,"72,700.00","39,188.43","4,089.50",33.50,549.13,micro_influancer,25.00,5.67,3.41
19,fromh1ae_,"6,573.00","10,655.73","2,571.87",109.90,459.73,nano_influancer,5.00,40.80,2.21
20,gae4hrv,"366,400.00","431,319.23","43,777.50","1,014.33","9,850.87",middle_influancer,125.00,12.22,3.59
21,glowupwithinah,"468,500.00","82,490.50","2,379.13",40.23,565.50,middle_influancer,125.00,0.52,0.24
22,haruqhxz,"47,000.00","8,141.17","1,210.17",34.27,242.43,micro_influancer,25.00,2.65,5.62
23,heartsfor.kbeauty,"387,400.00","271,766.67","28,936.63",490.00,"3,868.67",middle_influancer,125.00,7.60,2.59
24,its.kaylas,"51,100.00","24,006.93","4,257.87",32.47,874.60,micro_influancer,25.00,8.40,1.31
25,itsedonna,"61,400.00","81,914.97","2,118.27",40.57,838.20,micro_influancer,25.00,3.52,1.31
26,izzydiaries,"226,200.00","44,541.43","8,707.47",262.73,"1,661.27",middle_influancer,125.00,3.97,3.38
27,jaerini,"41,000.00","153,595.00","10,328.27",25.63,"2,559.93",micro_influancer,25.00,25.25,9.14
28,jasminnlily_,"1,000,000.00","679,816.67","30,959.03",154.73,"3,688.13",mega_influancer,"2,500.00",3.11,2.24
29,jeb_bi,"7,693.00","16,871.53","1,727.17",16.77,157.00,nano_influancer,5.00,22.67,1.86
30,koocat,"298,200.00","114,527.47","8,906.73",71.10,"2,033.57",middle_influancer,125.00,3.01,1.72
31,krystallee2222,"65,200.00","392,343.33","35,183.00",120.30,"13,670.83",micro_influancer,25.00,54.15,2.24
32,kwyeona,"29,000.00","18,345.80","3,900.70",317.47,824.53,micro_influancer,25.00,14.55,2.31
33,lovelymiri05,"177,100.00","6,429.73","1,359.70",129.00,265.97,middle_influancer,125.00,0.84,0.62
34,luvsfor.jennie,"4,121.00","5,844.17","1,114.80",75.40,106.23,nano_influancer,5.00,28.88,1.21
35,milkydew,"296,200.00","673,410.00","36,566.80",361.47,"9,962.83",middle_influancer,125.00,12.47,0.52
36,minseonk1m,"173,000.00","285,340.47","20,507.47",61.33,"2,858.00",middle_influancer,125.00,11.89,0.83
37,misscasxie,"8,997.00","53,270.30","9,626.87",109.53,"1,378.33",nano_influancer,5.00,108.22,4.48
38,monakoaa,"1,500,000.00","255,356.67","25,471.37",60.43,"1,429.33",mega_influancer,"2,500.00",1.70,1.14
39,moonskinclub,"216,800.00","325,936.67","20,701.43",55.70,"2,347.27",middle_influancer,125.00,9.57,1.03
40,mydelicate,"399,800.00","44,745.27","7,380.80",198.53,"1,262.63",middle_influancer,125.00,1.90,1.10
41,nana.tan07,"63,300.00","157,372.27","9,054.97",51.60,"1,829.90",micro_influancer,25.00,14.39,7.28
42,ofeemi7,"98,700.00","152,066.00","8,523.07",28.90,"2,160.83",micro_influancer,25.00,8.66,1.34
43,olafflee,"2,400,000.00","266,630.00","38,966.90",242.67,"3,528.57",mega_influancer,"2,500.00",1.63,2.24
44,onlydahia,"149,600.00","55,512.37","8,152.27",86.70,"1,049.00",middle_influancer,125.00,5.51,2.34
45,ooolongmilkteaa,"9,170.00","6,455.67","1,841.73",122.80,376.97,nano_influancer,5.00,21.42,1.93
46,ririsglow_,"47,200.00","11,622.07",623.70,11.53,124.50,micro_influancer,25.00,1.35,2.34
47,rosiehashs,"55,300.00","8,242.43","1,105.93",54.80,193.73,micro_influancer,25.00,2.10,0.86
48,saeroniee,"444,700.00","58,048.27","8,088.43",41.83,725.40,middle_influancer,125.00,1.83,1.45
49,soft.milky.latte,"504,500.00","20,980.23","2,630.93",24.00,276.60,mekro_influancer,"1,200.00",0.53,4.97
50,songofskin,"1,200,000.00","348,381.67","26,675.70",115.77,"3,796.70",mega_influancer,"2,500.00",2.23,0.41
51,thelipstickgirly,"92,900.00","2,518,470.00","104,070.37",319.57,"20,036.77",micro_influancer,25.00,112.37,2.76
52,tracyy_s,"374,000.00","652,990.00","102,344.90",190.60,"5,849.37",middle_influancer,125.00,27.42,3.66
53,vanessafaga,"1,600,000.00","300,796.67","47,646.63",728.40,"5,968.73",mega_influancer,"2,500.00",3.02,1.31
54,velcroluv,"114,500.00","21,289.87","4,664.47",222.23,921.50,middle_influancer,125.00,4.27,0.90
55,widyaatharva01,"134,500.00","1,690.83",73.27,0.50,0.67,middle_influancer,125.00,0.05,25.31

In [142]:
top5_hash_tag_df = pd.read_csv('/Users/jun/GitStudy/Data_4/src/project/project5/tiktok/0130/tiktoker_top5_hashtags.csv')

In [143]:
mean_df = mean_df.merge(top5_hash_tag_df, on='name', how='left')
mean_df

,name,follower_cnt,view_cnt,like_cnt,comment_cnt,save_cnt,tiktoker_size,ad_cost,ER,avg_upload_interval,hash_tag_top5
0,.blissdiaries,"81,700.00","9,717.97","1,447.33",60.47,196.20,micro_influancer,25.00,1.85,4.07,"['kpopfyp', 'douyin', 'haul', 'xyzabc', 'kbeau..."
1,.m.egan,"238,200.00","178,070.00","23,864.30",182.53,"3,527.30",middle_influancer,125.00,10.10,5.03,"['beautyinfluencer', 'jolse', 'xiaohongshu', '..."
2,.woniluv,"135,600.00","41,956.20","2,399.00",85.77,369.93,middle_influancer,125.00,1.83,2.38,"['tiktokban', 'tiktokbanned', 'pretty', 'dance..."
3,4chriisty,"79,500.00","26,122.50","4,119.73",74.13,385.37,micro_influancer,25.00,5.28,2.48,"['jbeauty', 'blue', 'romand', 'pr', 'palette']"
4,__.annie.s,"37,300.00","10,332.73","2,375.10",128.47,465.10,micro_influancer,25.00,6.71,3.14,"['influencer', 'abib', 'influencers', 'minivlo..."
5,_luvwonsnnx,"23,900.00","8,783.47","1,593.63",57.87,261.97,micro_influancer,25.00,6.91,1.48,"['foruu', 'dontletthisflop', 'fyppp', 'viralvi..."
6,aeiezo.pdf,"21,400.00","20,647.13","2,587.73",95.90,350.23,micro_influancer,25.00,12.54,3.48,"['moot', 'creatorsearchinsights', 'routine', '..."
7,ameenbeautytips,"4,800,000.00","418,445.97","1,602.87",14.77,143.10,mega_influancer,"2,500.00",0.03,0.17,['ameenbeautytips']
8,amyflamy1,"4,300,000.00","2,490,070.00","272,720.00","1,466.93","19,117.43",mega_influancer,"2,500.00",6.38,1.45,"['gurwm', 'gurwmroutine', 'grwmroutine', 'make..."
9,asiamelon,"13,700.00","1,751.23",164.30,12.27,19.77,micro_influancer,25.00,1.29,3.34,"['shop', 'numbuzin', 'gopicky', 'pickyreview',..."
10,ayheyt3u,"78,900.00","28,749.60","1,745.63",9.00,265.57,micro_influancer,25.00,2.22,5.76,"['summerskincare', 'cleanskincare', 'cleanbeau..."
11,aylennpark,"1,400,000.00","401,173.33","38,670.17",223.00,"9,051.07",mega_influancer,"2,500.00",2.78,1.62,"['hair', 'food', 'recipe', 'makeuphacks', 'hai..."
12,bwnniewony,"232,600.00","69,701.83","14,760.60",665.00,"2,848.50",middle_influancer,125.00,6.63,1.93,"['mixsoon', 'bwnniewony', 'tiktokmademebuyit',..."
13,caspertheghostyy,"442,700.00","130,703.33","9,439.93",50.20,919.30,middle_influancer,125.00,2.14,0.83,"['seoul', 'panthenolcream', 'glowduo', 'vegani..."
14,cleangirlhacks,"153,200.00","61,548.33","2,490.67",3.70,696.93,middle_influancer,125.00,1.63,3.03,"['cleanbeauty', 'glowuptips', 'selfdevelopment..."
15,cleanlivingkarly,"25,000.00","6,023.67",223.30,15.63,90.07,micro_influancer,25.00,0.96,0.55,"['nontoxic', 'cleanbeauty', 'targetfinds', 'am..."
16,danicolexx,"881,700.00","1,101,633.33","64,087.37",303.53,"10,401.90",mekro_influancer,"1,200.00",7.30,0.31,"['fruit', 'grape', 'drink', 'makeadrink', 'food']"
17,dearwonii_,"217,100.00","181,596.67","10,573.10",272.80,"1,435.07",middle_influancer,125.00,5.00,2.66,"['beautytok', 'acne', 'eqqualberry', 'sensitiv..."
18,emchu_,"72,700.00","39,188.43","4,089.50",33.50,549.13,micro_influancer,25.00,5.67,3.41,"['fitcheck', 'ootd', 'mediheal', 'glassskinrou..."
19,fromh1ae_,"6,573.00","10,655.73","2,571.87",109.90,459.73,nano_influancer,5.00,40.80,2.21,"['young', 'oliveyoung', 'goviral', 'Ïò¨ÏòÅ', 'styl..."
20,gae4hrv,"366,400.00","431,319.23","43,777.50","1,014.33","9,850.87",middle_influancer,125.00,12.22,3.59,"['explore', 'sanrio', 'fypage', 'shoujo', 'rou..."
21,glowupwithinah,"468,500.00","82,490.50","2,379.13",40.23,565.50,middle_influancer,125.00,0.52,0.24,"['funny', 'whitening', 'meme', 'hopeglow', 'fo..."
22,haruqhxz,"47,000.00","8,141.17","1,210.17",34.27,242.43,micro_influancer,25.00,2.65,5.62,"['haruqhxz', 'blowthisup', 'fy', 'viralvideo',..."
23,heartsfor.kbeauty,"387,400.00","271,766.67","28,936.63",490.00,"3,868.67",middle_influancer,125.00,7.60,2.59,"['oceane', 'heartsforkbeauty', 'figureskating'..."
24,its.kaylas,"51,100.00","24,006.93","4,257.87",32.47,874.60,micro_influancer,25.00,8.40,1.31,"['mixsoon', 'mixsoonpartner', 'tiktokmademebuy..."
25,itsedonna,"61,400.00","81,914.97","2,118.27",40.57,838.20,micro_influancer,25.00,3.52,1.31,"['viralskincare', 'sensitiveskin', 'dralthea',..."
26,izzydiaries,"226,200.00","44,541.43","8,707.47",262.73,"1,661.27",middle_influancer,125.00,3.97,3.38,"['wonyoungismaccount', 'nightroutine', 'tiktok..."
27,jaerini,"41,000.00","153,595.00","10,328.27",25.63,"2,559.93",micro_influancer,25.00,25.25,9.14,"['glowymakeup', 'makeuptutorial', 'blush', 'ho..."
28,jasminnlily_,"1,000,000.00","679,816.67","30,959.03",154.73,"3,688.13",mega_influancer,"2,500.00",3.11,2.24,"['gabbana', 'holidaymakeup', 'ultratune', 'win..."
29,jeb_bi,"7,693.00","16,871.53","1,727.17",16.77,157.00,nano_influancer,5.00,22.67,1.86,"['cleansing', 'usa', 'routine', 'cleansingoil'..."
30,koocat,"298,200.00","114,527.47","8,906.73",71.10,"2,033.57",middle_influancer,125.00,3.01,1.72,"['creatorsearchinsights', 'japan', 'mart', 'la..."
31,krystallee2222,"65,200.00","392,343.33","35,183.00",120.30,"13,670.83",micro_influancer,25.00,54.15,2.24,"['kbeautytips', 'kskincare', 'antiaging', 'mak..."
32,kwyeona,"29,000.00","18,345.80","3,900.70",317.47,824.53,micro_influancer,25.00,14.55,2.31,"['cinnamoroll', 'relatable', 'kwyeona', 'repos..."
33,lovelymiri05,"177,100.00","6,429.73","1,359.70",129.00,265.97,middle_influancer,125.00,0.84,0.62,"['pinkpilatesprincess', 'pinkaesthetic', 'coqu..."
34,luvsfor.jennie,"4,121.00","5,844.17","1,114.80",75.40,106.23,nano_influancer,5.00,28.88,1.21,"['luvsforjennie', 'capcut', 'cutevlog', ' ö', '…û']"
35,milkydew,"296,200.00","673,410.00","36,566.80",361.47,"9,962.83",middle_influancer,125.00,12.47,0.52,"['guthealth', 'acne', 'acneskin', 'winterseaso..."
36,minseonk1m,"173,000.00","285,340.47","20,507.47",61.33,"2,858.00",middle_influancer,125.00,11.89,0.83,"['makeuptutorial', 'cushionfoundation', 'suppl..."
37,misscasxie,"8,997.00","53,270.30","9,626.87",109.53,"1,378.33",nano_influancer,5.00,108.22,4.48,"['lifestyle', 'aestheticvideos', 'viralproduct..."
38,monakoaa,"1,500,000.00","255,356.67","25,471.37",60.43,"1,429.33",mega_influancer,"2,500.00",1.70,1.14,"['dioraddict', 'diormakeup', 'supportedbydior']"
39,moonskinclub,"216,800.00","325,936.67","20,701.43",55.70,"2,347.27",middle_influancer,125.00,9.57,1.03,"['skincareasmr', 'beautyhacks', 'bodycare', 'b..."
40,mydelicate,"399,800.00","44,745.27","7,380.80",198.53,"1,262.63",middle_influancer,125.00,1.90,1.10,"['know', 'haul', 'sheglam', 'ootd', 'saveinsty..."
41,nana.tan07,"63,300.00","157,372.27","9,054.97",51.60,"1,829.90",micro_influancer,25.00,14.39,7.28,"['creatorsearchinsights', 'flowerknows', 'flow..."
42,ofeemi7,"98,700.00","152,066.00","8,523.07",28.90,"2,160.83",micro_influancer,25.00,8.66,1.34,"['anua', 'contactlenses', 'skinbarrier', 'lipg..."
43,olafflee,"2,400,000.00","266,630.00","38,966.90",242.67,"3,528.57",mega_influancer,"2,500.00",1.63,2.24,"['cleangirl', 'de', 'peau', 'beaut√©', 'pinkpil..."
44,onlydahia,"149,600.00","55,512.37","8,152.27",86.70,"1,049.00",middle_influancer,125.00,5.51,2.34,"['viralmakeup', 'jbeauty', 'japanesemakeup', '..."
45,ooolongmilkteaa,"9,170.00","6,455.67","1,841.73",122.80,376.97,nano_influancer,5.00,21.42,1.93,"['miffy', 'viralvideo', 'oliveyoungaffiliate',..."
46,ririsglow_,"47,200.00","11,622.07",623.70,11.53,124.50,micro_influancer,25.00,1.35,2.34,"['aou', 'creamblush', 'abib', 'hinceofficial',..."
47,rosiehashs,"55,300.00","8,242.43","1,105.93",54.80,193.73,micro_influancer,25.00,2.10,0.86,"['wonyoungismaccount', 'kbeautyproducts', 'won..."
48,saeroniee,"444,700.00","58,048.27","8,088.43",41.83,725.40,middle_influancer,125.00,1.83,1.45,"['sgfoodie', 'wieiad', 'homecafe', 'homecookin..."
49,soft.milky.latte,"504,500.00","20,980.23","2,630.93",24.00,276.60,mekro_influancer,"1,200.00",0.53,4.97,"['miffy', 'pinterest', 'temu', 'shoptemu', 'te..."
50,songofskin,"1,200,000.00","348,381.67","26,675.70",115.77,"3,796.70",mega_influancer,"2,500.00",2.23,0.41,"['pore', 'sebum', 'cloggedpores', 'antiaging',..."
51,thelipstickgirly,"92,900.00","2,518,470.00","104,070.37",319.57,"20,036.77",micro_influancer,25.00,112.37,2.76,"['pore', 'primer', 'sebaceousfilaments', 'blac..."
52,tracyy_s,"374,000.00","652,990.00","102,344.90",190.60,"5,849.37",middle_influancer,125.00,27.42,3.66,"['sponsored', 'amazonbeauty', 'manyo', 'manyoc..."
53,vanessafaga,"1,600,000.00","300,796.67","47,646.63",728.40,"5,968.73",mega_influancer,"2,500.00",3.02,1.31,"['selfcaretiktok', 'asmrsounds', 'morninginmyl..."
54,velcroluv,"114,500.00","21,289.87","4,664.47",222.23,921.50,middle_influancer,125.00,4.27,0.90,"['routine', 'nacific', 'sunscreen', 'custom', ..."
55,widyaatharva01,"134,500.00","1,690.83",73.27,0.50,0.67,middle_influancer,125.00,0.05,25.31,"['wglowskin', 'endlessjourney', 'tonesdance', ..."

In [144]:
os.getcwd()

'/Users/jun/GitStudy/Data_4/src/project/project5/tiktok/0130'

In [146]:
mean_df.to_csv('tiktoker_summary_0131.csv',index=False, encoding="utf-8")

In [147]:
mean_df

,name,follower_cnt,view_cnt,like_cnt,comment_cnt,save_cnt,tiktoker_size,ad_cost,ER,avg_upload_interval,hash_tag_top5
0,.blissdiaries,"81,700.00","9,717.97","1,447.33",60.47,196.20,micro_influancer,25.00,1.85,4.07,"['kpopfyp', 'douyin', 'haul', 'xyzabc', 'kbeau..."
1,.m.egan,"238,200.00","178,070.00","23,864.30",182.53,"3,527.30",middle_influancer,125.00,10.10,5.03,"['beautyinfluencer', 'jolse', 'xiaohongshu', '..."
2,.woniluv,"135,600.00","41,956.20","2,399.00",85.77,369.93,middle_influancer,125.00,1.83,2.38,"['tiktokban', 'tiktokbanned', 'pretty', 'dance..."
3,4chriisty,"79,500.00","26,122.50","4,119.73",74.13,385.37,micro_influancer,25.00,5.28,2.48,"['jbeauty', 'blue', 'romand', 'pr', 'palette']"
4,__.annie.s,"37,300.00","10,332.73","2,375.10",128.47,465.10,micro_influancer,25.00,6.71,3.14,"['influencer', 'abib', 'influencers', 'minivlo..."
5,_luvwonsnnx,"23,900.00","8,783.47","1,593.63",57.87,261.97,micro_influancer,25.00,6.91,1.48,"['foruu', 'dontletthisflop', 'fyppp', 'viralvi..."
6,aeiezo.pdf,"21,400.00","20,647.13","2,587.73",95.90,350.23,micro_influancer,25.00,12.54,3.48,"['moot', 'creatorsearchinsights', 'routine', '..."
7,ameenbeautytips,"4,800,000.00","418,445.97","1,602.87",14.77,143.10,mega_influancer,"2,500.00",0.03,0.17,['ameenbeautytips']
8,amyflamy1,"4,300,000.00","2,490,070.00","272,720.00","1,466.93","19,117.43",mega_influancer,"2,500.00",6.38,1.45,"['gurwm', 'gurwmroutine', 'grwmroutine', 'make..."
9,asiamelon,"13,700.00","1,751.23",164.30,12.27,19.77,micro_influancer,25.00,1.29,3.34,"['shop', 'numbuzin', 'gopicky', 'pickyreview',..."
10,ayheyt3u,"78,900.00","28,749.60","1,745.63",9.00,265.57,micro_influancer,25.00,2.22,5.76,"['summerskincare', 'cleanskincare', 'cleanbeau..."
11,aylennpark,"1,400,000.00","401,173.33","38,670.17",223.00,"9,051.07",mega_influancer,"2,500.00",2.78,1.62,"['hair', 'food', 'recipe', 'makeuphacks', 'hai..."
12,bwnniewony,"232,600.00","69,701.83","14,760.60",665.00,"2,848.50",middle_influancer,125.00,6.63,1.93,"['mixsoon', 'bwnniewony', 'tiktokmademebuyit',..."
13,caspertheghostyy,"442,700.00","130,703.33","9,439.93",50.20,919.30,middle_influancer,125.00,2.14,0.83,"['seoul', 'panthenolcream', 'glowduo', 'vegani..."
14,cleangirlhacks,"153,200.00","61,548.33","2,490.67",3.70,696.93,middle_influancer,125.00,1.63,3.03,"['cleanbeauty', 'glowuptips', 'selfdevelopment..."
15,cleanlivingkarly,"25,000.00","6,023.67",223.30,15.63,90.07,micro_influancer,25.00,0.96,0.55,"['nontoxic', 'cleanbeauty', 'targetfinds', 'am..."
16,danicolexx,"881,700.00","1,101,633.33","64,087.37",303.53,"10,401.90",mekro_influancer,"1,200.00",7.30,0.31,"['fruit', 'grape', 'drink', 'makeadrink', 'food']"
17,dearwonii_,"217,100.00","181,596.67","10,573.10",272.80,"1,435.07",middle_influancer,125.00,5.00,2.66,"['beautytok', 'acne', 'eqqualberry', 'sensitiv..."
18,emchu_,"72,700.00","39,188.43","4,089.50",33.50,549.13,micro_influancer,25.00,5.67,3.41,"['fitcheck', 'ootd', 'mediheal', 'glassskinrou..."
19,fromh1ae_,"6,573.00","10,655.73","2,571.87",109.90,459.73,nano_influancer,5.00,40.80,2.21,"['young', 'oliveyoung', 'goviral', 'Ïò¨ÏòÅ', 'styl..."
20,gae4hrv,"366,400.00","431,319.23","43,777.50","1,014.33","9,850.87",middle_influancer,125.00,12.22,3.59,"['explore', 'sanrio', 'fypage', 'shoujo', 'rou..."
21,glowupwithinah,"468,500.00","82,490.50","2,379.13",40.23,565.50,middle_influancer,125.00,0.52,0.24,"['funny', 'whitening', 'meme', 'hopeglow', 'fo..."
22,haruqhxz,"47,000.00","8,141.17","1,210.17",34.27,242.43,micro_influancer,25.00,2.65,5.62,"['haruqhxz', 'blowthisup', 'fy', 'viralvideo',..."
23,heartsfor.kbeauty,"387,400.00","271,766.67","28,936.63",490.00,"3,868.67",middle_influancer,125.00,7.60,2.59,"['oceane', 'heartsforkbeauty', 'figureskating'..."
24,its.kaylas,"51,100.00","24,006.93","4,257.87",32.47,874.60,micro_influancer,25.00,8.40,1.31,"['mixsoon', 'mixsoonpartner', 'tiktokmademebuy..."
25,itsedonna,"61,400.00","81,914.97","2,118.27",40.57,838.20,micro_influancer,25.00,3.52,1.31,"['viralskincare', 'sensitiveskin', 'dralthea',..."
26,izzydiaries,"226,200.00","44,541.43","8,707.47",262.73,"1,661.27",middle_influancer,125.00,3.97,3.38,"['wonyoungismaccount', 'nightroutine', 'tiktok..."
27,jaerini,"41,000.00","153,595.00","10,328.27",25.63,"2,559.93",micro_influancer,25.00,25.25,9.14,"['glowymakeup', 'makeuptutorial', 'blush', 'ho..."
28,jasminnlily_,"1,000,000.00","679,816.67","30,959.03",154.73,"3,688.13",mega_influancer,"2,500.00",3.11,2.24,"['gabbana', 'holidaymakeup', 'ultratune', 'win..."
29,jeb_bi,"7,693.00","16,871.53","1,727.17",16.77,157.00,nano_influancer,5.00,22.67,1.86,"['cleansing', 'usa', 'routine', 'cleansingoil'..."
30,koocat,"298,200.00","114,527.47","8,906.73",71.10,"2,033.57",middle_influancer,125.00,3.01,1.72,"['creatorsearchinsights', 'japan', 'mart', 'la..."
31,krystallee2222,"65,200.00","392,343.33","35,183.00",120.30,"13,670.83",micro_influancer,25.00,54.15,2.24,"['kbeautytips', 'kskincare', 'antiaging', 'mak..."
32,kwyeona,"29,000.00","18,345.80","3,900.70",317.47,824.53,micro_influancer,25.00,14.55,2.31,"['cinnamoroll', 'relatable', 'kwyeona', 'repos..."
33,lovelymiri05,"177,100.00","6,429.73","1,359.70",129.00,265.97,middle_influancer,125.00,0.84,0.62,"['pinkpilatesprincess', 'pinkaesthetic', 'coqu..."
34,luvsfor.jennie,"4,121.00","5,844.17","1,114.80",75.40,106.23,nano_influancer,5.00,28.88,1.21,"['luvsforjennie', 'capcut', 'cutevlog', ' ö', '…û']"
35,milkydew,"296,200.00","673,410.00","36,566.80",361.47,"9,962.83",middle_influancer,125.00,12.47,0.52,"['guthealth', 'acne', 'acneskin', 'winterseaso..."
36,minseonk1m,"173,000.00","285,340.47","20,507.47",61.33,"2,858.00",middle_influancer,125.00,11.89,0.83,"['makeuptutorial', 'cushionfoundation', 'suppl..."
37,misscasxie,"8,997.00","53,270.30","9,626.87",109.53,"1,378.33",nano_influancer,5.00,108.22,4.48,"['lifestyle', 'aestheticvideos', 'viralproduct..."
38,monakoaa,"1,500,000.00","255,356.67","25,471.37",60.43,"1,429.33",mega_influancer,"2,500.00",1.70,1.14,"['dioraddict', 'diormakeup', 'supportedbydior']"
39,moonskinclub,"216,800.00","325,936.67","20,701.43",55.70,"2,347.27",middle_influancer,125.00,9.57,1.03,"['skincareasmr', 'beautyhacks', 'bodycare', 'b..."
40,mydelicate,"399,800.00","44,745.27","7,380.80",198.53,"1,262.63",middle_influancer,125.00,1.90,1.10,"['know', 'haul', 'sheglam', 'ootd', 'saveinsty..."
41,nana.tan07,"63,300.00","157,372.27","9,054.97",51.60,"1,829.90",micro_influancer,25.00,14.39,7.28,"['creatorsearchinsights', 'flowerknows', 'flow..."
42,ofeemi7,"98,700.00","152,066.00","8,523.07",28.90,"2,160.83",micro_influancer,25.00,8.66,1.34,"['anua', 'contactlenses', 'skinbarrier', 'lipg..."
43,olafflee,"2,400,000.00","266,630.00","38,966.90",242.67,"3,528.57",mega_influancer,"2,500.00",1.63,2.24,"['cleangirl', 'de', 'peau', 'beaut√©', 'pinkpil..."
44,onlydahia,"149,600.00","55,512.37","8,152.27",86.70,"1,049.00",middle_influancer,125.00,5.51,2.34,"['viralmakeup', 'jbeauty', 'japanesemakeup', '..."
45,ooolongmilkteaa,"9,170.00","6,455.67","1,841.73",122.80,376.97,nano_influancer,5.00,21.42,1.93,"['miffy', 'viralvideo', 'oliveyoungaffiliate',..."
46,ririsglow_,"47,200.00","11,622.07",623.70,11.53,124.50,micro_influancer,25.00,1.35,2.34,"['aou', 'creamblush', 'abib', 'hinceofficial',..."
47,rosiehashs,"55,300.00","8,242.43","1,105.93",54.80,193.73,micro_influancer,25.00,2.10,0.86,"['wonyoungismaccount', 'kbeautyproducts', 'won..."
48,saeroniee,"444,700.00","58,048.27","8,088.43",41.83,725.40,middle_influancer,125.00,1.83,1.45,"['sgfoodie', 'wieiad', 'homecafe', 'homecookin..."
49,soft.milky.latte,"504,500.00","20,980.23","2,630.93",24.00,276.60,mekro_influancer,"1,200.00",0.53,4.97,"['miffy', 'pinterest', 'temu', 'shoptemu', 'te..."
50,songofskin,"1,200,000.00","348,381.67","26,675.70",115.77,"3,796.70",mega_influancer,"2,500.00",2.23,0.41,"['pore', 'sebum', 'cloggedpores', 'antiaging',..."
51,thelipstickgirly,"92,900.00","2,518,470.00","104,070.37",319.57,"20,036.77",micro_influancer,25.00,112.37,2.76,"['pore', 'primer', 'sebaceousfilaments', 'blac..."
52,tracyy_s,"374,000.00","652,990.00","102,344.90",190.60,"5,849.37",middle_influancer,125.00,27.42,3.66,"['sponsored', 'amazonbeauty', 'manyo', 'manyoc..."
53,vanessafaga,"1,600,000.00","300,796.67","47,646.63",728.40,"5,968.73",mega_influancer,"2,500.00",3.02,1.31,"['selfcaretiktok', 'asmrsounds', 'morninginmyl..."
54,velcroluv,"114,500.00","21,289.87","4,664.47",222.23,921.50,middle_influancer,125.00,4.27,0.90,"['routine', 'nacific', 'sunscreen', 'custom', ..."
55,widyaatharva01,"134,500.00","1,690.83",73.27,0.50,0.67,middle_influancer,125.00,0.05,25.31,"['wglowskin', 'endlessjourney', 'tonesdance', ..."

In [43]:
os.getcwd()

'/Users/jun/GitStudy/Data_4/src/project/project5/tiktok/0130'

In [38]:
corr_df = mean_df[["view_cnt","like_cnt","comment_cnt",	"save_cnt",	 "ad_cost",	"ER",	"avg_upload_interval","follower_cnt"]]
corr_df.corr()

,view_cnt,like_cnt,comment_cnt,save_cnt,ad_cost,ER,avg_upload_interval,follower_cnt
view_cnt,1.00,0.88,0.60,0.89,0.36,0.39,-0.12,0.47
like_cnt,0.88,1.00,0.76,0.82,0.42,0.20,-0.10,0.56
comment_cnt,0.60,0.76,1.00,0.66,0.33,0.03,-0.13,0.45
save_cnt,0.89,0.82,0.66,1.00,0.31,0.43,-0.12,0.35
ad_cost,0.36,0.42,0.33,0.31,1.00,-0.21,-0.17,0.81
ER,0.39,0.20,0.03,0.43,-0.21,1.00,0.03,-0.18
avg_upload_interval,-0.12,-0.10,-0.13,-0.12,-0.17,0.03,1.00,-0.18
follower_cnt,0.47,0.56,0.45,0.35,0.81,-0.18,-0.18,1.00

In [39]:
mean_df.describe()

,follower_cnt,view_cnt,like_cnt,comment_cnt,save_cnt,ad_cost,ER,avg_upload_interval
count,56.00,56.00,56.00,56.00,56.00,56.00,56.00,56.00
mean,"470,629.54","246,204.17","20,198.40",174.63,"2,836.41",456.25,12.00,2.80
std,"924,280.71","489,895.19","41,024.61",260.20,"4,444.31",869.31,21.73,3.54
min,"4,121.00","1,690.83",73.27,0.50,0.67,5.00,0.03,0.17
25%,"50,125.00","17,977.23","2,049.13",38.74,331.83,25.00,1.88,1.19
50%,"142,600.00","59,798.30","7,734.62",80.58,920.40,125.00,5.14,2.22
75%,"390,500.00","275,160.12","24,266.07",204.46,"3,025.32",125.00,11.97,3.35
max,"4,800,000.00","2,518,470.00","272,720.00","1,466.93","20,036.77","2,500.00",112.37,25.31

In [40]:
micro_df = mean_df[mean_df['tiktoker_size'] == 'micro_influancer'].reset_index(drop=True)
micro_df

,name,follower_cnt,view_cnt,like_cnt,comment_cnt,save_cnt,tiktoker_size,ad_cost,ER,avg_upload_interval
0,.blissdiaries,"81,700.00","9,717.97","1,447.33",60.47,196.20,micro_influancer,25.00,1.85,4.07
1,4chriisty,"79,500.00","26,122.50","4,119.73",74.13,385.37,micro_influancer,25.00,5.28,2.48
2,__.annie.s,"37,300.00","10,332.73","2,375.10",128.47,465.10,micro_influancer,25.00,6.71,3.14
3,_luvwonsnnx,"23,900.00","8,783.47","1,593.63",57.87,261.97,micro_influancer,25.00,6.91,1.48
4,aeiezo.pdf,"21,400.00","20,647.13","2,587.73",95.90,350.23,micro_influancer,25.00,12.54,3.48
5,asiamelon,"13,700.00","1,751.23",164.30,12.27,19.77,micro_influancer,25.00,1.29,3.34
6,ayheyt3u,"78,900.00","28,749.60","1,745.63",9.00,265.57,micro_influancer,25.00,2.22,5.76
7,cleanlivingkarly,"25,000.00","6,023.67",223.30,15.63,90.07,micro_influancer,25.00,0.96,0.55
8,emchu_,"72,700.00","39,188.43","4,089.50",33.50,549.13,micro_influancer,25.00,5.67,3.41
9,haruqhxz,"47,000.00","8,141.17","1,210.17",34.27,242.43,micro_influancer,25.00,2.65,5.62
10,its.kaylas,"51,100.00","24,006.93","4,257.87",32.47,874.60,micro_influancer,25.00,8.40,1.31
11,itsedonna,"61,400.00","81,914.97","2,118.27",40.57,838.20,micro_influancer,25.00,3.52,1.31
12,jaerini,"41,000.00","153,595.00","10,328.27",25.63,"2,559.93",micro_influancer,25.00,25.25,9.14
13,krystallee2222,"65,200.00","392,343.33","35,183.00",120.30,"13,670.83",micro_influancer,25.00,54.15,2.24
14,kwyeona,"29,000.00","18,345.80","3,900.70",317.47,824.53,micro_influancer,25.00,14.55,2.31
15,nana.tan07,"63,300.00","157,372.27","9,054.97",51.60,"1,829.90",micro_influancer,25.00,14.39,7.28
16,ofeemi7,"98,700.00","152,066.00","8,523.07",28.90,"2,160.83",micro_influancer,25.00,8.66,1.34
17,ririsglow_,"47,200.00","11,622.07",623.70,11.53,124.50,micro_influancer,25.00,1.35,2.34
18,rosiehashs,"55,300.00","8,242.43","1,105.93",54.80,193.73,micro_influancer,25.00,2.10,0.86
19,thelipstickgirly,"92,900.00","2,518,470.00","104,070.37",319.57,"20,036.77",micro_influancer,25.00,112.37,2.76

In [41]:
filtered_df = micro_df[(micro_df["ER"] >= 5) & (micro_df['avg_upload_interval'] < 7)].reset_index(drop=True)
filtered_df

,name,follower_cnt,view_cnt,like_cnt,comment_cnt,save_cnt,tiktoker_size,ad_cost,ER,avg_upload_interval
0,4chriisty,"79,500.00","26,122.50","4,119.73",74.13,385.37,micro_influancer,25.00,5.28,2.48
1,__.annie.s,"37,300.00","10,332.73","2,375.10",128.47,465.10,micro_influancer,25.00,6.71,3.14
2,_luvwonsnnx,"23,900.00","8,783.47","1,593.63",57.87,261.97,micro_influancer,25.00,6.91,1.48
3,aeiezo.pdf,"21,400.00","20,647.13","2,587.73",95.90,350.23,micro_influancer,25.00,12.54,3.48
4,emchu_,"72,700.00","39,188.43","4,089.50",33.50,549.13,micro_influancer,25.00,5.67,3.41
5,its.kaylas,"51,100.00","24,006.93","4,257.87",32.47,874.60,micro_influancer,25.00,8.40,1.31
6,krystallee2222,"65,200.00","392,343.33","35,183.00",120.30,"13,670.83",micro_influancer,25.00,54.15,2.24
7,kwyeona,"29,000.00","18,345.80","3,900.70",317.47,824.53,micro_influancer,25.00,14.55,2.31
8,ofeemi7,"98,700.00","152,066.00","8,523.07",28.90,"2,160.83",micro_influancer,25.00,8.66,1.34
9,thelipstickgirly,"92,900.00","2,518,470.00","104,070.37",319.57,"20,036.77",micro_influancer,25.00,112.37,2.76

In [42]:
ÏñºÍµ¥ ÎëêÎ∂Ñ Îã§ ÎÇòÏò§Í≥† 

krystallee2222 ER ÎÜíÍ≥† > ÌîºÎ∂ÄÍ∞Ä Ï¢ãÏïÑÏÑú Ïã†ÎπôÏÑ± ÏûàÏùå... 
emchu_ Ïª®ÏÖâ

SyntaxError: invalid syntax (1796092301.py, line 1)